<% content_for :title, "Animal Health" %>

<div class="border_bottom center gray_background_dark">
  <%= link_to image_tag(s3_url('banner4.png')), "#", "data-reveal-id" => "registerSigninModal" %>	
</div>

<div class="row pad-btm services top_padding_1em">
  <div class="large-4 columns">
		<div>
            <h3>Animal Guardians</h3>
            <p>Store, manage, and share your animals' health & wellness information with 
            	those involved in their care.</p>

           
            <%= link_to "Learn more #{image_tag(s3_url('arrow.png'))}".html_safe, learn_more_path(learn_about: "households"), remote: true %>
		</div> 
  </div>
  <div class="large-4 columns">
		<div>
            <h3>Animal Rescues</h3>
            <p>Manage information, recieve alerts, and transfer the electronic record to 
            	the new guardian at adoption.  All at no cost to you or the adopter. </p>

            <%= link_to "Learn more #{image_tag(s3_url('arrow.png'))}".html_safe, learn_more_path(learn_about: "rescues"), remote: true %>
		</div>
  </div>
  <div class="large-4 columns">
		<div>
            <h3>Animal Breeders</h3>
            <p>Develop a rich lineage of health information for your animals. (Coming soon!)  </p>

            <%= link_to "Learn more #{image_tag(s3_url('arrow.png'))}".html_safe, learn_more_path(learn_about: "breeders"), remote: true %>
		</div>
  </div>
</div>

<div class="row pad-btm services">
  <div class="large-4 columns">
		<div>
            <h3>Livestock Management</h3>
            <p>Easily mantain data for all your livestock such as horses, cattle, and exotics. (Coming soon!) </p>

           
            <%= link_to "Learn more #{image_tag(s3_url('arrow.png'))}".html_safe, learn_more_path(learn_about: "livestock"), remote: true %>
		</div>
        <!-- end .sections --> 
  </div>
    <!-- end .columns.large-4 -->
  <div class="large-4 columns">
		<div>
            <h3>Disaster Preparedness</h3>
            <p>Cloud storage for your animal's health information. Easily setup adhoc shelters. </p>

            <%= link_to "Learn more #{image_tag(s3_url('arrow.png'))}".html_safe, learn_more_path(learn_about: "disaster_preparedness"), remote: true %>
		</div>
        <!-- end .sections --> 
  </div>
    <!-- end .columns.large-4 -->
  <div class="large-4 columns">
		<div>
            <h3>Veterinarians</h3>
            <p>Store, document, and engage with the animal's custodians. (Coming soon!)  </p>

            <%= link_to "Learn more #{image_tag(s3_url('arrow.png'))}".html_safe, learn_more_path(learn_about: "veterinarians"), remote: true %>
		</div>
        <!-- end .sections --> 
  </div>
    <!-- end .columns.large-4 -->


</div>
<!-- end .row -->


<div class="row pad-btm">
  <div class="large-6 columns testimonials">
    <h3>Happy Users</h3>
    <hr>
    <div class="row">
      <div class="small-3 large-3 columns">
        <!-- <div class="test-img"><img alt="" src="./Home Page with Image Only_files/user-avatar.png" class="th"></div>-->
        <%= image_tag(s3_url('dog-stethoscope.jpg'), class: 'th') %>
      </div>
      <div class="small-9 large-9 columns panel callout radius no_highlight">
        <p> "AnimalMinder rocks! I recently moved and being able to transfer my
        	dog's vaccination records electronically save me time and effort." <i>- Angie, RN </i>  </p>
      </div>
    </div>
    <div class="row">
      <div class="small-3 large-3 columns">
        <!-- <div class="test-img"><img alt="" src="./Home Page with Image Only_files/user-avatar.png" class="th"></div>-->
        <%= image_tag(s3_url('dog-stethoscope.jpg'), class: 'th') %>
      </div>
      <div class="small-9 large-9 columns panel callout radius no_highlight">
        <p> "We adopted a new puppy from our local rescue and immediately recieved a welcome email
        	linking us to her health record. Thanks!" <i>- Bob & Jenny </i>  </p>
      </div>
    </div>

  </div>
  
    <div class="large-6 columns recent-news">
    	<h3>Recent News</h3>
		<hr>
		<article class="blogPicture">
            <h1><%= link_to "AnimalMinder was selected as the official animal registry for Louisiana", "#" %></h1>
            <div class="blog-options">
				<span><em class="icon-user"></em> tyler </span>
				<span><em class="icon-pencil"></em> 03-Jun-2014</span>
				<span><em class="icon-comment"></em> 0 comments</span>
			</div>
            <div class="blog-description">
                <p>AnimalMinder works great for accessing records during emergenices and was selected by the Louisiana Animal Welfare Comission as the official animal registry for the state.</p>
            </div>
            <%= link_to button_small('Read More', 'blog_btn', 'radius' ) , "#" %>
        </article>

    </div>
</div>

<!--- JDavis: this should not be a panel.  jdhere.  --->
<div id="login" class="panel no_highlight">
  <div class="row">
    <div class="large-8 columns">
      <h5 class="alt">Sign In</h5>
      <%= render 'register_sign_in' %> 

    </div>
        
    <div class="small-12 large-4 columns">
      <h5 class="alt">Mailing List</h5>
      	
      	<h4><small>
      	  Not ready to create an account.  Stay informed on our mailing list.
      	</small></h4>
        <%= form_for BetaComment.new, remote: true, html: {id: 'beta_comment_form'} do |f| %>
		  <div class="row">
		    <div class="large-12 columns">
		      <%= f.text_field :email, placeholder: "email address" %>
		    </div>
		  </div>
		    
		  <%= f.hidden_field :mailing_list, value: true %>
		  
		  <div class="actions">
		    <%= f.submit 'sign up', class: "button small" %>
		  </div>
        <% end %>
     
      
      
    </div>
  </div>
   
</div>

<div id="learnMoreModal" class="reveal-modal" data-reveal>
  <div id="learn_more"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>










