<section class="main_content_section bottom_padding_5">
  
  	
  <div class="row">
	<div class="large-7 large-centered columns">
	    <%= image_tag 'mww.png'%>
	</div>
  </div>
  
  <div class="row">
	<div class="large-5  columns">
	 <%= image_tag 'home_dog.gif', size: '320x250', class: 'picture_border_2'%>
	</div>
	
	<div class="large-6 columns">
		
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  
		<div class="row collapse">
		  <div class="small-12 columns">
		    <h4>create an account</h4>
		  </div>
		</div>
		
		<div class="row collapse">
		  <div class="small-8 columns">
		    <%= f.email_field :email, autofocus: true, placeholder: 'email address' %>
		  </div>
		</div>
		
		<% if f.object.password_required? %>
		  <div class="row collapse">
		      
		    <div class="small-8 columns">
		      <%= f.password_field :password, placeholder: 'password (6 or more characters)' %>
		    </div>
		  </div>
		
		  <div class="row collapse">
		    <div class="small-8 columns">
		      <%= f.password_field :password_confirmation, placeholder: 'password confirmation' %>
		    </div>
		  </div>
	    <% end %>
		  
		  <div class="row collapse bottom_padding_10">
		    <div class="small-4 columns"><%= f.submit "Sign up", class: "small button" %> or use</div>
		    
	        <div class="small-3 columns">
	          <%= link_to image_tag('fb_login_icon2.jpg'), user_omniauth_authorize_path(:facebook), class: "fc-webicon" %>
	        </div>
	        <div class="small-1"></div>
		  </div>
      <% end %>	
	    
		<div class="row">
	      <div class="small-12 columns ">
	  	     Are you an animal serice provider? Help DOOLIDDL point our users your way.	
	      </div>
		</div>
		  
		<div class="row">
	      <div class="small-12 columns">
	  	    <p><a data-reveal-id="newProviderModal" class="button expand" style="margin-bottom: 0; margin-top: 10px">List My Business</a></p>
	        	
	      </div>
		</div>
	</div>
  	
  </div>
	    
	  
	  
	    
  
  
</section>

<section class="white_background">
  <div class="row">
	 <div class="large-5 large-centered columns">
	    <h4>WHAT IS DOOLIDDL?</h4>
	  </div>
  </div>
  <div class="row">
	 <div class="large-12 columns">
	    <p>DOOLIDDL HELPS YOU ORGANIZE & SHARE YOUR ANIMAL HEALTH INFORMATION WITH THOSE INVOLVED IN THEIR CARE</p>
	   </div>
  </div>
  <div class="row">
	<div class="large-12 columns">
	  <table class="no_border">
	  	<tr class="no_bg">
	      <td align="center" class="no_bg"><%= image_tag('cloud_Icon.png', size: '50x50')%></br> Cloud Storage</td>
	      <td>
	      	Keep all of your animal’s information in one place - organized and available to you online.
	      </td>		
	  	</tr>
	  	<tr class="no_bg">
	      <td align="center"><%= image_tag('dB_Icon.png', size: '50x50')%></br> Data Management </td>
	      <td>
	      	Be ready for appointments with the kennel or groomer by keeping important information such as meds, 
	      	allergies in your online account. No more calls to the your vet's office to fax records (such as vaccinations) 
	      	each time you need them.
	      </td>		
	  	</tr>
	  	<tr class="no_bg">
	      <td align="center" class="no_bg"><%= image_tag('location_Icon.png', size: '50x50')%></br> Location Services</td>	
	      <td>
	      	Find local services and pet friendly establishments, communicate preferences to the kennel or groomer or 
	      	acute medical issues with your vet at the click of a button from your smartphone.
	      </td>	
	  	</tr>
	  	<tr class="no_bg">
	      <td align="center" class="no_bg"><%= image_tag('social_Icon.png', size: '50x50')%></br> Social Networking</td>		
	      <td>
	      	Get connected with other animal custodians.
	      </td>
	  	</tr>
	  	
	  	<tr class="no_bg">
	      <td align="center" colspan="2" class="no_bg">
	      	 <b>CAPTURE IT ONCE, USE IT AGAIN AND AGAIN, AND NEVER LEAVE YOUR ANIMAL’S INFO STRANDED IN THE 
	      	 	VETERINARIAN’S OR YOUR HOME’S FILE CABINET AGAIN.</b>
	      </td>
	  	</tr>
	  	
	  </table>
	</div>
  </div>
	  
</section>	

<div id="newProviderModal" class="reveal-modal">
  
  <%= render 'new_provider'%>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

