<section class="green_background">
	<div class="row">
	  <div class="large-8 columns">
	    <div class="row">
	    	<div class="large-10 large-centered columns">
	    		<h2 class="welcome_header">ARF, MEOW, WELCOME!</h2>
	    	</div>
	    </div>
	    
	    <div class="row">
	    	<div class="large-6 large-centered columns">
	    		<%= image_tag 'home_dog.bmp', size: '320x250'%>
	    	</div>
	    </div>
	  	
	  </div>
	  
	  <div class="large-4 columns">
	  	
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  
		  <div class="row collapse">
		    <div class="small-9 columns">
		      <h4>register</h4>
		    </div>
		  </div>
		
		  <div class="row collapse">
		    <div class="small-9 columns">
		      <%= f.email_field :email, autofocus: true, placeholder: 'email address' %>
		    </div>
		  </div>
		
		  <% if f.object.password_required? %>
		    <div class="row collapse">
		      
		      <div class="small-9 columns">
		        <%= f.password_field :password, placeholder: 'password' %>
		      </div>
		    </div>
		
		    <div class="row collapse">
		      <div class="small-9 columns">
		        <%= f.password_field :password_confirmation, placeholder: 'password confirmation' %>
		      </div>
		    </div>
		  <% end %>
		  
		  <div class="row">
		    <div class="small-3 columns"><%= f.submit "Sign up" %></div>
		    <div class="small-3 columns">
	          <%= link_to image_tag('webicon-facebook-m.png'), user_omniauth_authorize_path(:facebook), class: "fc-webicon" %>
	        </div>
	        <div class="small-6 columns"></div>
		  </div>
		  
		<% end %>		
	  	
	  </div>
	</div>
</section>

<section class="border_top">
  <div class="row">
	 <div class="large-5 large-centered columns">
	    <h4>WHAT IS DOOLITTL?</h4>
	  </div>
  </div>
  <div class="row">
	 <div class="large-12 columns">
	    <p>Doolittl allows users to improve the health and quality 
	    	of life of their pets through social and medical technology.</p>
	   </div>
  </div>
  <div class="row">
	<div class="large-12 columns">
	  <table>
	  	<tr>
	      <td align="center"><%= image_tag('cloud.png')%></br> Cloud Storage</td>
	      <td>
	      	Doolittl allows you to store and easily access your animal's health 
	      	information from your PC or smartphone.
	      </td>		
	  	</tr>
	  	<tr>
	      <td><%= image_tag('dB.png')%></br> Data Management </td>
	      <td>
	      	Manage and share your animal's information with those involved in 
	      	your pet's care such as your vet or kennel.
	      </td>		
	  	</tr>
	  	<tr>
	      <td><%= image_tag('location.png')%></br> Location Services</td>	
	      <td>
	      	Locate pet services, parks, pet friendly establishments, vendors, 
	      	and other pets in your area.
	      </td>	
	  	</tr>
	  	<tr>
	      <td><%= image_tag('social.png')%></br> Social Networking</td>		
	      <td>
	      	We connect pets to pets, owners to owners, homes to those that care for their animals.
	      </td>
	  	</tr>
	  	
	  </table>
	</div>
  </div>
	  
</section>	



