<p><%= @user.name_or_email %>,</p>

<p>
  Congratulations on the adoption of <%= link_to @animal.name, polymorphic_url(@animal) + "?transfer=true" %> from <%= @animal.owner.name %>.
</p>

<p>
  Click <%= link_to "here", polymorphic_url(@animal) + "?transfer=true" %> to create your free 
  account with Animal Minder and accept your animal‘s electronic health and wellness record.
</p>

<%= render 'user_mailer/email_closing'%>

