<p><%= @animal.owner.name %>,</p>

<p>
  You were sent the following message about <b><%= @animal.name %></b>.
</p>

<p style="background-color:yellow">
  <%= (@sender_name + '</br>').html_safe if @sender_name.present? %>
  <%= (@sender_contact + '</br>').html_safe if @sender_contact.present? %>
  <i><%= @message %></i>
</p>

<%= render 'user_mailer/email_closing'%>
