<p><%= @user.name_or_email %>,</p>

<p>You have been added to the <%=@service_provider.name%> account on Dooliddl.</p>

<p>Login using your email: <%=@user.email%> and this temporary password: <%=@password%> or you can use the Facebook login.</p>

<p><%= link_to "Manage your account here.", edit_user_path(@user) %></p>

<p><%= link_to "Help manage the business account here.", service_provider_url(@service_provider) %></p>