<p><%= @user.name_or_email %>,</p>

<p>You have been added to the <%=@group.name%> account on AnimalMinder.</p>

<p>Login to <%= link_to 'AnimalMinder.com', root_url %>  using your email: <%=@user.email%> and this temporary password: <%=@password%> or you can use the Facebook login.</p>

<p><%= link_to "Manage your account here.", edit_user_url(@user) %></p>

<p><%= link_to "Help manage the " + @group.name  + " account here.", polymorphic_url(@group) %></p>