<p>You have been added to the <%=@household.name%> account on Dooliddl.</p>

<p>Login using your email: <%=@user.email%> and this temporary password: <%=@password%> or you can use the Facebook login.</p>

<p><%= link_to "Manage your account here.", edit_user_path(@user) %></p>

<p><%= link_to "Help manage the household account here.", household_url(@household) %></p>