<p>The following comment was submitted:</p>

<p>Date: <%=@comment.updated_at.to_date%></p>

<p>Name: <%=@comment.name%></p>

<p>Email: <%=@comment.email%></p>

<p>Comment: <%=@comment.comment%></p>

<p>Join mailing list: <%=@comment.mailing_list%></p>