<p><%= @recipient %>,</p>

<p> <%= @owner_name %> has shared the <%= @title %> document for <%= @animal_name %> with you.  Please find the file attached to this email.</p>

<p> Best regards, </br>
	Team Minder  </br>
	<%= link_to "www.animalminder.com", root_url %>
</p>
