<p>
  <%=@organization.name%> has listed <%= @household.name %> as a participating foster guardian providing care to their animals.
</p>

<p>
  <%=@organization.name%> is using <b>Animal Minder</b>, a universal health and wellness platform for animal rescue shelters to manage 
  the health and wellness of their animal population, coordinate foster homes, track needed veterinary attention, and, upon adoption, makes the 
  animal wellness record electronically available to the new animal guardian.
</p>

<p>
  As an animal guardian, <b>Animal Minder</b> will assist you in the care of your
  animals.  <%= link_to "Click here", root_url %> to get started.
</p>

<%= render 'user_mailer/email_closing' %>
