<p>Minders,</p>

<p>Here are the weekly numbers.</p>

<ul>
  <li>Total users <%= @stat.users %> | New users: <%= @stat.new_users %></li>
  <li>Total animals: <%= @stat.animals %> | New animals: <%= @stat.new_animals %> </li>
  <li>Total households: <%= @stat.households%></li>
  <li>Total organizations: <%= @stat.organizations%></li>
  <li>Total service_providers: <%= @stat.service_providers%></li>
</ul>
