<p>
  <%= @group.name %>,</br> 
  Here is your weekly update:
</p>

<% if @notifications.present? %>
  <ul>
    <% @notifications.each do |notification| %>
      <li>
      	<% if notification.animal.present? %>
          <%= link_to ("<b>" + notification.animal.name + ": </b>" + notification.message).html_safe, polymorphic_url([@group, notification.animal], action: :edit) %>
      	<% else %>
          <%= notification.message %> 
      	<% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @group.animals.empty? %>
 <p>
   <b><%= @group.name %></b> does not have any animals listed in the AnimalMinder platform.  Click 
   <%= link_to 'here', polymorphic_url(@group) %> to tell us about your animals.
 </p>
<% elsif @group.class.name == "Household" %> 
 <ul>	
   <% @group.animals.each do |animal|%>
     <% if (animal.profile_completion < 75) %>
      <li>
        <%= link_to animal.name.possessive, polymorphic_url([@group, animal], action: :edit) %> profile is <%= animal.profile_completion %>% complete. 
      </li>
     <% end %>
   <% end %>
   <li>Recieve alerts regarding heartworm meds or vaccinations by updating the health & wellness tab.</li>
   <li>Update feeding preferences to easily send instructions to your kennel or sitter.</li>
 </ul>
<% elsif @group.class.name == "Organization" %> 
 <p>
   Don't forget to us AnimalMinder to transfer your animals' healthcare records during the adoption process.
 </p>
<% end %>




<%= render 'user_mailer/email_closing'%>
