<p>
  <%=@organization.name%> has listed <%= @household.name %> as a participating foster guardian providing care to their animals.
</p>

<p>
  <%=@organization.name%> is using <b>Animal Minder</b>, a universal wellness management platform for rescue to manage 
  the health and wellness of their animal population, coordinate foster homes, wellness activities, and makes the 
  wellness record electronically available to animal guardians at adoption.
</p>

<p>
  As an animal guardian, <b>Animal Minder</b> will assist you in the care of your
  animals.  <%= link_to "Click here", root_url %> to get started.
</p>

<p>
  Store and organize your animal's health and wellness information in the cloud, receive reminders about important 
  events such as heartworm treatments and annual checkups), schedule sitters, groomers, and vet visits, share important 
  info such as vaccination records and care instructions, and never leave your animal's information trapped in your 
  home filing cabinet or the vet's office again.
</p>


<p>
  Thanks,</br>
  <%=@organization.name%> and Team AnimalMinder
</p>
