<% content_for :title, "Update Profile" %>

<%= form_for(@user) do |f| %>

  <div class="row collapse">
    <div class="small-3 columns">
	  <%= f.label :first_name, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :first_name %>	
    </div>
  </div>
  
  <div class="row collapse">
    <div class="small-3 columns">
	  <%= f.label :middle_name, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :middle_name %>	
    </div>
  </div>
  
  <div class="row collapse">
    <div class="small-3 columns">
	  <%= f.label :last_name, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :last_name %>	
    </div>
  </div>
  
  <div class="row collapse">
    <div class="small-3 columns">
	  <%= f.label :email, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :email %>	
    </div>
  </div>
  
  <div class="row collapse">
    <div class="small-3 columns">
	  <%= f.label :address1, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :address1 %>	
    </div>
  </div>
  
  <div class="row collapse">
    <div class="small-3 columns">
	  <%= f.label :address2, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :address2 %>	
    </div>
  </div>
  
  <div class="row collapse">
    <div class="small-3 columns">
	  <%= f.label :city, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :city %>	
    </div>
  </div>
  
  <div class="row collapse">
    <div class="small-3 columns">
	  <%= f.label :state, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :state %>	
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
	  <%= f.label :zip, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :zip %>	
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
	  <%= f.label :phone, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :phone %>	
    </div>
  </div>
  <div class="row">
    <div class="small-9 small-offset-3 columns"><%= f.submit %></div>
  </div>
<% end %>
