<% content_for :title, "Update Profile" %>


<fieldset>
  <%= form_for(@user, html: {"data-abide" => ''}) do |f| %>
    <div class="row">
      <div class="large-5 columns">
	    <%= f.text_field :first_name, placeholder: "First Name"  %>
      </div>
      <div class="large-6 columns">
  	    <%= f.text_field :last_name, placeholder: "Last Name" %>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <%= f.text_field :address1, placeholder: "Address1"%>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
      	
        <%= f.text_field :address2, placeholder: "Address2"%>
      </div>
    </div>
    
    <div class="row">
      <div class="large-4 columns">
        
        <%= f.text_field :city, placeholder: "City" %>
      </div>
      <div class="large-3 columns">
        <%= f.select :state, us_states, {include_blank: true, prompt: 'State'}, {class: 'state_select'} %>
      </div>
      <div class="large-3 columns">
        
        <%= f.text_field :zip, placeholder: "Zip" %>
       
      </div>
      <div class="large-2 columns"></div>
    </div>
    
    <div class="row">
      <div class="large-4 columns">
        
        <%= f.text_field :phone, placeholder: "Phone:123-123-1234" %>
      </div>
      <div class="large-4 columns">
        
        <%= f.text_field :email, placeholder: "Email" %>
        <small class="error">Email required.</small>
      </div>
      <div class="large-4 columns">
       
      </div>
      
    </div>
    
  	<%= f.submit 'save' %>
  <% end %>
    
  <div class="row">
	<div class="large-4 columns">
	 <table>
	    <thead>
	      <tr>
	        <th min-width="200" colspan="3">Associations</th>
	      </tr>
	    </thead>
	
	    <tbody>
	      <% @user.associations.each do |association| %>
	        <tr>
	          <td><%= link_to image(association), association.organization %></td>   
	          <td><%= link_to association.name, association.organization %></td> 
	          <td><%= link_to image_tag('cross.png', alt:"del", size: '20x20'), user_user_association_path(@user, association), method: :delete, 
				   data: { confirm: 'Please confirm you want to remove ' + association.name + ' from your account.' } %></td>      
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
  </div>
  
  <div class="row">
  	<div class="large-3 columns"><%= link_to fun_button_small('create another account'), user_select_account_type_path %></div>
  </div>
  
    
</fieldset>
  
