

  <section class="gray_background ">
    <div class="row pad-btm">
      <div class="column large-12">
	    <h1 class="ptitle left">Associations</h1>
        <%= breadcrumb_nav(["Home"]) %>
	  </div>
    </div>
  </section>
 
 <section class="white_background">	
  <div class="row pad-btm">
  	<div class="large-12 columns center">
  	  <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-3">
  	  	<% n = 0 %>
  	    <% @user.associations.each do |association| %>
          <% next if cannot? :read, association.group %>
          <li>
            <%= link_to association.organization do %>
          	  <div class="image">
	            <%= image(association)%>
	          </div>
	          <h4><%= association.name %></h4>
	          <%= button_small("go there") %>
            <% end %>
          </li>
          <% n += 1%>
        <% end %>
  	  </ul>
  	</div>
  </div>
	
  <div class="row">
	<div class="large-12 columns">
	  <p>
	  	You are associated with <%= pluralize(n, 'account') %>.  
	  	If needed, click <%= link_to button_small("here"), user_select_account_type_path %> to add another account.
	  </p>
	</div>
  </div>
 </section>

