<%= breadcrumb_nav(['home']) %>
<section class="border_top full_page">
	
 <div class="row">
  <h4>Please select one of your associations.</h4>
  <div class="large-8 columns">
   <fieldset>

	<div class="row">
	  <div class="large-12 columns">
	   <table>
	      <thead>
	        <tr>
	          <th min-width="200" colspan="2">Associations</th>
	        </tr>
	      </thead>
	
	      <tbody>
	        <% @user.associations.each do |association| %>
	          <tr>
	            <td><%= link_to image(association), association.organization %></td>   
	            <td><%= link_to association.name, association.organization %></td>       
	          </tr>
	        <% end %>
	      </tbody>
	    </table>
	  </div>
	</div>
	
	<div class="row">
	  <div class="large-12 columns">
	  	<p>
	  		You are associated with <%= pluralize(current_user.associations.count, 'account') %>.  
	  		If needed, click <%= link_to "here", user_select_account_type_path %> to add another account.
	  	</p>
	  </div>
	</div>

   </fieldset>
  </div>
 </div>
</section>
