<%= breadcrumb_nav(['home']) %>
<div class="full_page">
<section class="gray_background  ">
	
  <div class="row pad-btm  ">
    <div class="column large-12">
	  <h2 class="ptitle left">Associations</h2>
	  <!--- 
	  <div class="breadcrumb right"><span id="catCartSummary" quote="False" vertical="False"><table cellspacing="0" class="cartSummaryTable"><tbody><tr><td class="cartSummaryItem">Shopping cart is empty.</td></tr></tbody></table></span></div>
	  	--->
	</div>
		<!-- end .columns.large-12 -->
  </div>
  
</section>
 
<section class="white_background">
	
  <div class="row pad-btm associations-main">
    <div class="large-12 columns">
      <ul class="associationList ">
       <% @user.associations.each do |association| %>
      	<li>
      	  <div class="medium-6 large-4 columns shop-product-small text-center pad-btm clearfix">
	        <div class="image">
	          <%= link_to image(association), association.organization %>
	        </div>
	        <h2><%= link_to association.name, association.organization %></h2>
	        <%= link_to button_small("go there"), association.organization %>
	        
         </div>
        </li>
       <% end %>
      </ul>	
    </div>
  </div>
  <div class="row">
	<div class="large-12 columns">
	  <p>
	  	You are associated with <%= pluralize(current_user.associations.count, 'account') %>.  
	  	If needed, click <%= link_to button_small("here"), user_select_account_type_path %> to add another account.
	  </p>
	</div>
  </div>
</section>
</div>
