<section class="border_top">
 <div class="row">
    <div class="large-12 columns">
   	  <fieldset>
		<h4>Change your password</h4>
		
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, "data-abide" => '' }) do |f| %>
		  
		  <%= f.hidden_field :reset_password_token %>
		
		  <div class="row">
	  		<div class="large-4 columns">
		  	  <%= f.password_field :password, :autofocus => true, :placeholder => "new password" %>
		  	  <small class="error">eight(8) charater password required.</small>
		  	</div>
		  </div>
		
		  <div class="row">
	  		<div class="large-4 columns">
		  	  <%= f.password_field :password_confirmation, :placeholder => "confirm new password" %>
		  	  <small class="error">confirmation required.</small>
		  	</div>
		  </div>
		
		  <div><%= f.submit "Change my password" %></div>
		<% end %>
		
		
   	  </fieldset>
    </div>
  </div>
</section>