<% content_for :title, "About us" %>

<div class="full_page">
 <section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
	  <h1 class="ptitle left">Team</h1>
	</div>
  </div>
 </section>
 
 <section class="white_background"> 
  <div class="row ">
    <div class="columns large-12">
      <p>
      	At <b>Animal Minder</b> we strive to create a revolutionary health and wellness ecosystem for animals. 
      	We are dedicated to applying our knowledge of health technology and innovation to help animal 
      	guardians, shelters, breeders, veterinarians, and livestock managers achieve optimal animal health.
      </p>
      
    </div>
  </div>
 	
  <div class="row">
    <div class="columns large-4 bottom_padding_1em">
      <%= image_tag s3_url('tyler_dog.jpg'), class: 'picture_border_2' %>
      <h5>Tyler</h5>
      <p class="about_text">
      	Tyler is all about developing original ideas based on insights from data whether it's health informatics, 
      	medical procedures in zero gravity, or teaching chess.  Outside the office, he is likely attending a 
      	sporting event with his sons.
      </p>
      <%= link_to "<i class='fa fa-linkedin'></i>".html_safe, "https://www.linkedin.com/profile/view?id=14411262", target: "_blank" %>
    </div>
    
    <div class="columns large-4 bottom_padding_1em">
      <%= image_tag s3_url('james_dog.jpg'), class: 'picture_border_2' %>
      <h5>James</h5>
      <p class="about_text">
      	James enjoys philosophical discussions, data, salted almonds, Ruby, Rails, Ruby on Rails, and copious
      	amounts of black coffee.  When not coding, he enjoys the company of a smooth whisky.
      </p>
      <%= link_to "<i class='fa fa-linkedin'></i>".html_safe, "https://www.linkedin.com/in/jdavisphd", target: "_blank" %>
    </div>
    
    <div class="columns large-4 bottom_padding_1em">
      <%= image_tag s3_url('mike_dog.jpg'), class: 'picture_border_2' %>
      <h5>Mike</h5>
      <p class="about_text">
      	Mike thrives on big ideas and putting them into action by connecting the impossible. During his freetime he 
      	plays the guitar, golfs, and encourages fellow entrepreneurs.
      </p>
      <%= link_to "<i class='fa fa-linkedin'></i>".html_safe, "https://www.linkedin.com/in/michaelbeirne", target: "_blank" %>
    </div>
  </div>
  
 </section>

</div>
