<div class="full_page">
  <section class="gray_background ">
    <div class="row pad-btm">
      <div class="column large-12">
	    <h1 class="ptitle left">Learn More</h1>
	  </div>
    </div>
  </section>
	
  <section class="white_background">
  	<div class="row pad-btm">
      <div class="column large-12">
      	<h3>Households</h3>
        <%= render 'pages/households' %>
      </div>
    </div>
    
    <div class="row pad-btm">
      <div class="column large-12">
      	<h3>Animal Rescues</h3>
        <%= render 'pages/rescues' %>
      </div>
    </div>
    
    <div class="row pad-btm">
      <div class="column large-12">
      	<h3>Breeders</h3>
        <%= render 'pages/breeders' %>
      </div>
    </div>
    
    <div class="row pad-btm">
      <div class="column large-12">
      	<h3>Livestock</h3>
        <%= render 'pages/livestock' %>
      </div>
    </div>
    
    <div class="row pad-btm">
      <div class="column large-12">
      	<h3>Veterinarians</h3>
        <%= render 'pages/veterinarians' %>
      </div>
    </div>
    
    <div class="row pad-btm">
      <div class="column large-12">
      	<h3>Disaster Preparedness</h3>
        <%= render 'pages/disaster_preparedness' %>
      </div>
    </div>
  </section>



</div>
