<%= form_for [@custodian, @animal], remote: true, html: {id: 'animal_form', "data-abide" => '', class: "animal_form"} do |f| %>
 <% if @organization %>
  <fieldset>
  	<legend>Intake info</legend>
  	<%= f.fields_for :org_profile do |builder| %>
	<div class="row">
	  <div class="large-4 columns">
	  	<%= builder.label :intake_date, 'intake date' %>
	    <%= builder.text_field :intake_date, value: mo_da_yr(@animal.org_profile.intake_date) , class: "datepicker", placeholder: "intake date" %>
	  </div>
	  <div class="large-4 columns"> 
	  	<%= builder.label :intake_reason, 'intake reason' %>
		<%= builder.select :intake_reason, intake_reasons, {include_blank: true, prompt: 'intake reason'}, {class: 'regular_select'} %>
	  </div>
	  <div class="large-4 columns">
	  	<%= builder.label :organization_location_id, 'location' %>
		<%= builder.collection_select :organization_location_id, @owner.organization_locations, :id, :name, {prompt:'animal location'}, {class: "regular_select"} %>
	  </div>
	  <%= builder.hidden_field :id %>	  
	</div>
  <% end %>
  </fieldset>
 <% end %>

 <fieldset>
  <legend>Information</legend>
  <div class="row">
	<div class="large-4 columns">
	  <%= f.label :name, 'name' %>
	  <%= f.text_field :name, placeholder: "animal's name" %>
	  <small class="error">Name required.</small>
	</div>
 
	<div class="large-4 columns">
	  <%= f.label :animal_type_id, "species" %>
	  <%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, {prompt:'species'}, {class: "regular_select"} %>
	</div>
	<div class="large-4 columns bottom_padding_1em">
	  <%= f.label :breed_ids, "breed(s)" %>
	  <%= f.text_field :breed_ids %>
	</div>
	<div class="large-2 columns"></div>
  </div>
				
  <div class="row">
	<div class="large-4 columns">
	  <%= f.label :gender, 'gender' %>
	  <%= f.select :gender, options_for_select(["male", "female"], @animal.gender), {prompt:'gender'}, {class: "regular_select"}  %>
	</div>
	<div class="large-4 columns">
	  <%= f.label :dob, 'date of birth' %>
	  <%= f.text_field :dob, value: mo_da_yr(@animal.dob) , class: "datepicker", placeholder: "date of birth" %>
	</div>
	<div class="large-4 columns">
	  <%= f.label :size, 'size' %>
	  <%= f.select :size, animal_sizes, {include_blank: true, prompt: 'size'}, {class: 'regular_select'} %>
	</div>
  </div>
  
 
  
  <div class="row">
	<div class="large-4 columns">
	  <%= f.label :neutered, id: 'dynamic_neutered_label' do %>
	    <%= f.check_box :neutered %><span id="neutered_label"> <%= neutered_term(@animal.gender) %>?</span> 
	  <% end %>
	</div>
	<div class="large-4 columns">
	  <%= f.label :neutered_date, 'neuter / spay date' %>
	  <%= f.text_field :neutered_date, value: mo_da_yr(@animal.neutered_date) , class: "datepicker neuter_disable", placeholder: "date neutered / spayed", disabled: !@animal.neutered %>
	</div>
    <div class="large-4 columns">
      <%= f.label :neuter_location, 'neuter/spay location' %>
	  <%= f.text_field :neuter_location, placeholder: "neuter/spay location", class: "neuter_disable", disabled: !@animal.neutered %>
    </div>
  </div>
 
  <div class="row">
	<div class="large-4 columns">
	  <%= f.label :pedigreed do %>
	    <%= f.check_box :pedigreed %><span id="pedigreed_label"> pedigree?</span> 
	  <% end %>
	</div>
	<div class="large-4 columns">
	  <%= f.label :registration_club_id, 'registration club' %>
	  <%= f.text_field :registration_club_id, class: 'pedigree_disable', disabled: !@animal.pedigreed %>
    </div>  
	<div class="large-4 columns">
	  <%= f.label :registration_number, 'registration number' %>
	  <%= f.text_field :registration_number, class: 'pedigree_disable', placeholder: "registration number", disabled: !@animal.pedigreed %>
	</div>
  </div>
  <div class="row">	
  	<div class="large-4 columns">
	  <%= f.label :microchipped do %>
	    <%= f.check_box :microchipped %><span id="microchipped_label"> microchipped?</span> 
	  <% end %>
	</div>  
	<div class="large-4 columns">
	  <%= f.label :microchip_brand_id, 'microchip brand' %>
	  <%= f.collection_select :microchip_brand_id, MicrochipBrand.all, :id, :name, {prompt:'microchip brand'}, {class: "regular_select microchip_disable", disabled: !@animal.microchipped} %>
	</div>	
	<div class="large-4 columns">
	  <%= f.label :microchip_id, 'microchip id number' %>
	  <%= f.text_field :microchip_id, class: 'microchip_disable', placeholder: "microchip id number", disabled: !@animal.microchipped %>
	</div>	
	<div class="large-4 columns"></div>	      	      
  </div>

  <div class="row">
	<div class="large-4 columns">
	  <%= f.label :fur_color, 'fur color' %>
	  <%= f.text_field :fur_color, placeholder: "fur color" %>
	</div>
	<% unless @animal.new_record? %>	
	<div class="large-4 columns bottom_padding_10">
	  <%= f.label :personality_type_ids, "dispostion" %>
	  <%= f.text_field :personality_type_ids %>
	</div>	
	<% end %>
	<div class="large-4 columns"></div>
  </div>
				    
  <div class="row">
	<div class="large-12 columns">
	  <%= f.label :description, 'description / distinguishing characteristics' %>
	  <%= f.text_area :description, placeholder: "description / distinguishing characteristics", class: "text_area_10em" %>
	</div>
  </div>
 </fieldset>
  <%= f.hidden_field :owner_id, value: @owner.id %>	 
  <%= f.hidden_field :owner_type, value: @owner.class.name %> 
  
  
  <div class="actions">
	<%= f.submit "Save" %>
  </div>
  <%= token_tag form_authenticity_token %>
<% end %>

