<div class="hidden">
  <%= form_for [@animal, AnimalVaccination.new], remote: true, html: {id: 'animal_vaccination_form', "data-abide" => '', class: 'hidden'} do |f| %>
	<%= f.text_field :vaccination_id, class: 'select'  %>
	<%= f.text_field :vaccination_date, class: "datepicker", placeholder: "Select a date" %>
	<%= f.text_field :tag_number, placeholder: "Vaccination number (ex: rabies tag #)" %>
	<%= f.hidden_field :animal_id, value: @animal.id %>  
	<%= f.submit "Add vaccination" %>  
  <% end %>
  
  <%= form_for [@animal, AnimalMedication.new], remote: true, html: {id: 'animal_medication_form', "data-abide" => '', class: 'hidden'} do |f| %>
	<%= f.text_field :medication_id, class: 'select'  %>
	<%= f.text_field :volume  %>
	<%= f.text_field :route %>
	<%= f.text_field :interval %>
	<%= f.hidden_field :animal_id, value: @animal.id %>  
	<%= f.submit "Add medication" %>  
  <% end %>
</div>
