<div class="row">
	
  <!-- Left Side -->
  <div class="large-6 columns">
  	<div class="row">
      <div class="large-4 columns">
      	<%= animal_image(@animal) %></br>
        <%= @animal.name %>
      </div>	
      <div class="large-4 columns">
      <% if @animal.qr_code.present? %>
        <%= image_tag( @animal.qr_code.url, size: '75x75' )%>
      <% end %>
      </div>
      <div class="large-4 columns"></div>
  	</div>
  	<div class="row">
  	  <div class="large-7 large-offset-4 columns">
        
        <table class="no_border">
          <tr class="no_bg">
          	<td align="right">
              <%= link_to "edit pet info", edit_household_animal_path(@owner, @animal), 'data-no-turbolink' => true %>	
          	</td>
          </tr>
          <tr class="no_bg">
          	<td align="right">
              schedule an appointment (coming soon!)	
          	</td>
          </tr>
          <tr class="no_bg">
          	<td align="right">
              <%= link_to "print medical record (pdf)", household_animal_path(@owner, @animal, format: "pdf") %>
          	</td>
          </tr>
          <tr class="no_bg">
          	<td align="right">
              photo gallery (coming soon!)
          	</td>
          </tr>
          <tr class="no_bg">
          	<td align="right">
              <%= link_to "print sitter instructions (pdf)", animal_sitter_instructions_path(@animal, format: "pdf") %>
          	</td>
          </tr>
          <tr class="no_bg">
          	<td align="right">
          	  <% if @animal.pending_transfer? %>
                <%= link_to "cancel transfer", "#", remote: true %>
              <% else %>
                <%= link_to "transfer ownership", "#", "data-reveal-id" => "transferAnimalModal", 'data-no-turbolink' => true, remote: true %>
              <% end %>
          	</td>
          </tr>
        </table>
      </div>
  	</div>
  	
     
  	
  	
  </div>
  
  <!-- Right Side -->
  <div class="large-6 columns">
    
    <div class="row">
      <div class="large-12">
      	<fieldset class="gray_background">
      		<h4>Notifications</h4>
      		<p>Coming soon. We will notify you when heartworm medication, vaccinations, and other events are due.</p>
      	</fieldset>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12">
      	<%= image_tag('dooliddl_outline_colorful.png', size: '300x300')%>
      </div>
    </div>
    
  </div>
</div>




