<fieldset>
  <legend>Information</legend>
  <div class="row">
	<div class="large-12 columns">
	  <%= f.label :name, 'name' %>
	  <%= f.text_field :name, placeholder: "animal's name" %>
	  <small class="error">Name required.</small>
	</div>
  </div>
		
  <div class="row">
	<div class="large-4 columns">
	  <%= f.label :animal_type_id, "species" %>
	  <%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, {prompt:'species'}, {class: "regular_select"} %>
	</div>
	<div class="large-6 columns bottom_padding_1em">
	  <%= f.label :breed_ids, "breed(s)" %>
	  <%= f.text_field :breed_ids %>
	</div>
	<div class="large-2 columns"></div>
  </div>
				
  <div class="row">
	<div class="large-4 columns">
	  <%= f.label :gender %>
	  <%= f.select :gender, options_for_select(["male", "female"], @animal.gender), {prompt:'gender'}, {class: "regular_select"}  %>
	</div>
	<div class="large-4 columns">
	  <%= f.label :dob, 'date of birth' %>
	  <%= f.text_field :dob, value: mo_da_yr(@animal.dob) , class: "datepicker", placeholder: "date of birth" %>
	</div>
	<div class="large-4 columns"></div>
  </div>
</fieldset>

<% if @organization %>
  <fieldset>
  	<legend>Intake info</legend>
  	<%= f.fields_for :org_profile do |builder| %>
	<div class="row">
	  <div class="large-6 columns">
	  	<%= builder.label :intake_date %>
	    <%= builder.text_field :intake_date, value: mo_da_yr(@animal.org_profile.intake_date) , class: "datepicker", placeholder: "intake date" %>
	  </div>
	  <div class="large-6 columns"> 
	  	<%= builder.label :intake_reason %>
		<%= builder.select :intake_reason, intake_reasons, {include_blank: true, prompt: 'intake reason'}, {class: 'regular_select'} %>
	  </div>
	</div>
	<div class="row">
	  <div class="large-6 columns">
	  	<%= builder.label :intake_weight %>
		<%= builder.text_field :intake_weight , placeholder: "intake weight" %>
	  </div>
	  <div class="large-6 columns"> 
	  	<%= builder.label :intake_weight_measure, 'lbs / kg'%>
		<%= builder.select :intake_weight_measure, options_for_select(wt_options), {include_blank: false}, {class: "regular_select"} %>
	  </div>
	</div>
	<div class="row">
	  <div class="large-6 columns">
	  	<%= builder.label :organization_location_id, 'location' %>
		<%= builder.collection_select :organization_location_id, @owner.organization_locations, :id, :name, {prompt:'animal location'}, {class: "regular_select"} %>
	  </div>
	  <%= builder.hidden_field :id %>	  
	</div>
  <% end %>
  </fieldset>
<% end %>
  
<fieldset>
  <legend>Identification</legend>
 <% unless @organization %>
  <div class="row">
	<div class="large-4 columns">
	  <%= f.label :registration_club_id, 'registration club' %>
	  <%= f.text_field :registration_club_id %>
    </div>  
	<div class="large-4 columns">
	  <%= f.label :registration_number, 'registration number' %>
	  <%= f.text_field :registration_number, placeholder: "registration number" %>
	</div>
	<div class="large-4 columns"></div>
  </div>
 <% end %>
  <div class="row">	  
	<div class="large-4 columns">
	  <%= f.label :rfid_brand, 'microchip brand' %>
	  <%= f.text_field :rfid_brand, placeholder: "microchip brand" %>
	</div>	
	<div class="large-4 columns">
	  <%= f.label :rfid, 'microchip id number' %>
	  <%= f.text_field :rfid, placeholder: "microchip id number" %>
	</div>	
	<div class="large-4 columns"></div>	      	      
  </div>
		
</fieldset>				    
  
<fieldset>
  <legend>Description</legend>
  <div class="row">
	<div class="large-4 columns">
	  <%= f.label :fur_color, 'fur color' %>
	  <%= f.text_field :fur_color, placeholder: "fur color" %>
	</div>
	<% unless @animal.new_record? %>	
	<div class="large-4 columns bottom_padding_10">
	  <%= f.label :personality_type_ids, "dispostion" %>
	  <%= f.text_field :personality_type_ids %>
	</div>	
	<% end %>
	<div class="large-4 columns"></div>
  </div>
				    
  <div class="row">
	<div class="large-12 columns">
	  <%= f.label :description %>
	  <%= f.text_area :description, placeholder: "description of animal" %>
	</div>
  </div>
</fieldset>