<%= form_for [@custodian, @animal], remote: true, html: {id: 'animal_preferences_form', "data-abide" => '', class: 'animal_form'} do |f| %>
 <fieldset>
  <legend>Diet</legend>
  <div class="row">
	<div class="large-10 columns">
	  <%= f.label :food_id, 'food preference' %>
	  <%= f.text_field :food_id, class: 'select' %>
	</div>
	<div class="large-2 columns"></div>
		  
  </div>
	  
  
	<!--<div class="large-6 columns">
      <%= text_field_tag 'feeding_display', @animal.feeding_comment ,placeholder: 'feeding size and frequency (3 cups daily)'%>
	</div>-->
	<!--<div id="feeding_dialog" title="Feeding information">
	  <p class="validateTips">All form fields are required.</p>-->
	<div class="row">
		<div class="large-6 columns">
		  <%= f.text_field :volume_per_serving , placeholder: 'number of ->' %>
	    </div>
		<div class="large-6 columns">
		  <%= f.select :serving_measure, options_for_select(["cups", "grams", "ounces", "lbs", "scoops"], @animal.serving_measure), { }, {class: "regular_select"}  %>
		</div>
	</div>
	<div class="row">
	  <div class="large-6 columns">
		<%= f.select :servings_per_day, options_for_select(feeding_frequency_options, @animal.servings_per_day), { }, class: 'regular_select' %>
	  </div>
	</div>
		   
  
		  
 </fieldset>
	  
 <fieldset>
  <legend>Preferences</legend>
  <div class="row">
	<div class="large-10 columns">
	  <%= f.label :shampoo_id, 'shampoo' %>
	  <%= f.text_field :shampoo_id, class: 'select' %>
	</div>
	<div class="large-2 columns"></div>
		  
  </div>
	  
  <div class="row">
	<div class="large-10 columns">
	  <%= f.label :treat_id, 'treat preference' %>
	  <%= f.text_field :treat_id, class: 'select' %>
	</div>
	<div class="large-2 columns"></div>
		  
  </div>
	  
  <div class="row">
	<div class="large-10 columns">
	  <%= f.label :vitamin_id, 'vitamin' %>
	  <%= f.text_field :vitamin_id, class: 'select' %>
	</div>
	<div class="large-2 columns"></div>
		  
  </div>
  <div class="row">
	<div class="large-12 columns">
	  <%= f.label :special_instructions, 'special care instructions' %>
	  <%= f.text_area :special_instructions, placeholder: "special care instructions" %>
	</div>
  </div>
 </fieldset>
 <div class="actions">
   <%= f.submit "save" %>
 </div>
<% end %>
