<div class="row">
	
  <!-- Left Side -->
  <div class="large-6 columns">
  	<div class="row">
      <div class="large-4 small-6 columns">
      	<!---<%= link_to thumbnail(@animal), edit_household_animal_path(@household, @animal) %></br>--->
      	<%= link_to thumbnail(@animal), edit_household_animal_path(@household, @animal), 'data-tooltip' => true, class: 'has-tip', title: 'Change image' %></br>
      	'data-no-turbolink' => true
        <div ><b><%= @animal.name %></b></div>
      </div>	
      <div class="large-4 small-6 columns">
      <% if @animal.qr_code.present? %>
        <%= image_tag( @animal.qr_code.url, size: '50x50', class: 'th', id: 'qr_code_img' ) %>
        <div id="largeQRCode" class="fouc" title= "<%= @animal.name%>'s QR Code">
		  <p>This is a downloadable QR code.</p>
		  <p align="center">
		    <%= link_to image_tag( @animal.qr_code.url, size: '100x100', class: 'picture_border_3'), @animal.qr_code.remote_url %> 
		  </p>
		  
		</div>
      <% end %>
      </div>
      <div class="large-4 columns"></div>
  	</div>
  	<div class="row">
  	  <div class="large-7 large-offset-4 columns">
        
        <table class="no_border">
          <tr class="no_bg">
          	<td align="right">
              <%= link_to "view / edit pet info", edit_household_animal_path(@household, @animal) %>	
          	</td>
          </tr>
          
          <!-- JDavis: add an option to share the animals record. JDhere -->
          
          <tr class="no_bg">
          	<td align="right">
              schedule an appointment (coming soon!)	
          	</td>
          </tr>
          <tr class="no_bg">
          	<td align="right">
              <%= link_to "print medical record (pdf)", household_animal_path(@household, @animal, format: "pdf"), target: '_blank' %>
          	</td>
          </tr>
          <tr class="no_bg">
          	<td align="right">
              <%= link_to "photo gallery", animal_pictures_path(@animal) %>
          	</td>
          </tr>
          <tr class="no_bg">
          	<td align="right">
              <%= link_to "print sitter instructions (pdf)", animal_sitter_instructions_path(@animal, format: "pdf"), target: '_blank' %>
          	</td>
          </tr>
          <tr class="no_bg">
          	<td align="right">
          	  <% if @animal.pending_transfer? %>
                <%= link_to "cancel transfer", "#", remote: true %>
              <% else %>
                <%= link_to "transfer ownership", "#", "data-reveal-id" => "transferAnimalModal", remote: true %>
              <% end %>
          	</td>
          </tr>
        </table>
      </div>
  	</div>
  	
     
  	
  	
  </div>
  
  <!-- Right Side -->
  <div class="large-6 columns">
    
    <div class="row">
      <div class="large-12">
      	<fieldset class="gray_background">
      		<h4>Notifications</h4>
      		<h6><%=@animal.name.possessive%> profile is <%= @animal.profile_completion %>% complete</h6>
      		<div class="<%=progress_bar_classes(@animal)%>"><span class="meter" style="width: <%=@animal.profile_completion%>%"></span></div>
      		<h6> Select <%= link_to 'edit pet info', edit_household_animal_path(@household, @animal) %> to complete the profile. </h6>
      		<%= animal_notifications(@animal) %>
      		
      	</fieldset>
      </div>
    </div>
    
    
    
  </div>
</div>

<script>
$("#qr_code_img").click(function() {
  $( "#largeQRCode" ).dialog( "open" );
});

$("#largeQRCode").dialog({
  autoOpen: false,
  buttons: {"close": function() { $( this ).dialog( "close" ); }}
});
</script>



