<fieldset>
  <legend>No files uploaded</legend>
  <% for document in @animal.documents %>
    <div>
    	<%= image_tag 'PDF_file.png'%>
    	<%= document.title %> <%= link_to 'remove', [@household, @animal, document], confirm: 'Are you sure?', method: :delete %>
    </div>
  <% end %>
</fieldset>


<%= form_for [@household, @animal, Document.new], :html => {:multipart => true} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.file_field :file_path %>

  <%= f.submit 'Upload file' %>

<% end %>


