<div id='animal_document_div'>
  <%= render 'animals/document_fieldsets' %>
</div>

<%= form_for [@animal, Document.new], remote: true, html: {id: 'animal_document_upload', "data-abide" => ''} do |f| %>
  <div class="row">
	<div class="large-6 columns">
	  <%= f.file_field :file, class: 'upload_file' %>
	  <small class="error">File required.</small>
	</div>
  </div>
  <div class="row">
	<div class="large-6 columns">
	  <%= f.text_field :title, placeholder: "document title" %>
	</div>
  </div>
  <div class="row">
	<div class="large-6 columns">
	  <%= f.select :file_type, file_types, {prompt: 'select file type'}, {class: 'regular_select'} %>
	  <small class="error">File type required.</small>
	</div>
  </div>
  <%= f.hidden_field :animal_id, value: @animal.id %>
  <div class="row">
	<div class="large-6 columns">
	  <div class="actions"><%= f.submit 'Upload file' %></div>
	</div>
  </div>
<% end %>
