


<fieldset>
  <legend><%= documents_legend_title(@animal.documents.count) %></legend>
  <table>
    <% for document in @animal.documents %>
      <tr>
    	<td><%= image_tag('Icon-Document03-Blue.png', size: '20x20')%></td>
    	<!--<td><%= link_to document.display_title, controller: 'documents', action: 'download_file', id: document.id %></td>-->
    	<td><%= link_to document.display_title, document.file_path.url, target: '_blank' %></td>
    	<td><%= link_to image_tag('cross.png', :alt => "del"), [@animal.owner, @animal, document], confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </table>
</fieldset>

<% if @animal.id %>	
	<%= direct_upload_form_for @uploader do |f| %>
	  
	  <div class="row">
        <div class="large-8 columns">
	      <%= f.file_field :file_path %>
	    </div>
	  </div>
	  
	  <div class="actions">       
	    <%= f.submit 'Upload file' %>
	  </div>
	
	<% end %>
<% end %>


