<fieldset>
  <legend>Vaccination Records</legend>
  <% if @animal.vaccination_documents.count == 0 %>
      <p>No vaccination files have been uploaded.</p>
  <% else %>
	<table class="document_table">
	  	<tr>
	  	  <th></th> 
	  	  <th>Email</th>
	  	  <th>Filename</th>
	  	  <th>Description</th>
	  	  <th>Delete</th>
	  	</tr>
	    <% for document in @animal.vaccination_documents %>
	    <tr>
	      <td><%= link_to(image_tag(s3_url('document_icon.png'), class: 'file', size: '20x20'), document.file_location, target: '_blank') %></td>
	      <td><%= image_tag s3_url('icon-mail-s.png'), class: 'email' %></td>
	      <td><%= link_to(document.file_name, document.file_location, target: '_blank') %></td>
	      <td><%= best_in_place [@animal, document], :title, :type => :input %></td>
		  <td>
		    <%= link_to image_tag('cross.png', :alt => "del"), animal_document_path(@animal, document), method: :delete, 
		    		data: { confirm: 'Remove this document?' }, remote: true %>	
		  </td>
        </tr>
        <tr id="email_tr<%= document.id.to_s %>" class="email_document">
          <td colspan="5"><%= render 'animals/email_document', document: document %></td>
        </tr>
	  <% end %>
	</table>
  <% end %>  
</fieldset>
      
<fieldset>
  <legend>Rabies Records</legend>
  <% if @animal.rabies_documents.count == 0 %>
      <p>No rabies documentation has been uploaded.</p>
  <% else %>
	<table class="document_table">
	  	<tr>
	  	  <th></th>
	  	  <th>Email</th>
	  	  <th>Filename</th>
	  	  <th>Description</th>
	  	  <th>Delete</th>
	  	</tr>
	    <% for document in @animal.rabies_documents %>
	    <tr>
	      <td><%= link_to(image_tag(s3_url('document_icon.png'), class: 'file', size: '20x20'), document.file_location, target: '_blank') %></td>
	      <td><%= image_tag s3_url('icon-mail-s.png'), class: 'email' %></td>
	      <td><%= link_to(document.file_name, document.file_location, target: '_blank') %></td>
	      <td><%= best_in_place [@animal, document], :title, :type => :input %></td>
		  <td>
		    <%= link_to image_tag('cross.png', :alt => "del"), animal_document_path(@animal, document), method: :delete, 
		    		data: { confirm: 'Remove this document?' }, remote: true %>	
		  </td>
        </tr>
        <tr id="email_tr<%= document.id.to_s %>" class="email_document">
          <td colspan="5"><%= render 'animals/email_document', document: document %></td>
        </tr>
	  <% end %>
	</table>
  <% end %>  
      	
</fieldset>
      
<fieldset>
  <legend>Veterinary Notes</legend>
  <% if @animal.veterinary_documents.count == 0 %>
      <p>No veterinary note files have been uploaded.</p>
  <% else %>
	<table class="document_table">
	  	<tr>
	  	  <th></th>
	  	  <th>Email</th>
	  	  <th>Filename</th>
	  	  <th>Description</th>
	  	  <th>Delete</th>
	  	</tr>
	    <% for document in @animal.veterinary_documents %>
	    <tr>
	      <td><%= link_to(image_tag(s3_url('document_icon.png'), class: 'file', size: '20x20'), document.file_location, target: '_blank') %></td>
	      <td><%= image_tag s3_url('icon-mail-s.png'), class: 'email' %></td>
	      <td><%= link_to(document.file_name, document.file_location, target: '_blank') %></td>
	      <td><%= best_in_place [@animal, document], :title, :type => :input %></td>
		  <td>
		    <%= link_to image_tag('cross.png', :alt => "del"), animal_document_path(@animal, document), method: :delete, 
		    		data: { confirm: 'Remove this document?' }, remote: true %>	
		  </td>
        </tr>
        <tr id="email_tr<%= document.id.to_s %>" class="email_document">
          <td colspan="5"><%= render 'animals/email_document', document: document %></td>
        </tr>
	  <% end %>
	</table>
  <% end %>  
      	
</fieldset>
      
<fieldset>
  <legend>Misc Document</legend>
  <% if @animal.other_documents.count == 0 %>
      <p>Other documents.</p>
  <% else %>
	<table class="document_table">
	  	<tr>
	  	  <th></th>
	  	  <th>Email</th>
	  	  <th>Filename</th>
	  	  <th>Description</th>
	  	  <th>Delete</th>
	  	</tr>
	    <% for document in @animal.other_documents %>
	    <tr>
	      <td><%= link_to(image_tag(s3_url('document_icon.png'), class: 'file', size: '20x20'), document.file_location, target: '_blank') %></td>
	      <td><%= image_tag s3_url('icon-mail-s.png'), class: 'email' %></td>
	      <td><%= link_to(document.file_name, document.file_location, target: '_blank') %></td>
	      <td><%= best_in_place [@animal, document], :title, :type => :input %></td>
		  <td>
		    <%= link_to image_tag('cross.png', :alt => "del"), animal_document_path(@animal, document), method: :delete, 
		    		data: { confirm: 'Remove this document?' }, remote: true %>	
		  </td>
        </tr>
        <tr id="email_tr<%= document.id.to_s %>" class="email_document">
          <td colspan="5"><%= render 'animals/email_document', document: document %></td>
        </tr>
	  <% end %>
	</table>
  <% end %>  
      	
</fieldset>