<% content_for :title, "Animal" %>  
	
<%= form_for [@custodian, @animal], remote: true, html: {id: 'animal_form', "data-abide" => ''} do |f| %>
  
  <div id='sections'><%= render 'sections', f: f %></div>
	
  <%= f.hidden_field :owner_id, value: @owner.id %>	 
  <%= f.hidden_field :owner_type, value: @owner.class.name %> 
  
  
  <div class="actions">
	<%= f.submit "Save" %>
  </div>
  <%= token_tag form_authenticity_token %>
<% end %>
	
	      
		    
	  
	
	      
	    
	  
	  

    
    
    
