  
	
<%= form_for [@owner, @animal], remote: true, html: {id: 'animal_form', "data-abide" => ''} do |f| %>
  
  <div id='sections'><%= render 'sections', f: f %></div>
	
	
  <% if @owner.class.name == 'Household'%>
    <%= f.hidden_field :household_id, value: @owner.id %>
  <% end %>
  <% if @owner.class.name == 'Breeder'%>
	<%= f.hidden_field :breeder_id, value: @owner.id %>
  <% end %>
  
  <div class="actions">
	<%= f.submit "Save" %>
  </div>
  <%= token_tag form_authenticity_token %>
<% end %>
	
	      
		    
	  
	
	      
	    
	  
	  

    
    
    
