<%= form_for [@owner, @animal] do |f| %>
  <fieldset>
    <legend>Animal</legend>
    
    <div class="row">
      <div class="large-8 columns">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    </div>
    
    <div class="row">
      <div class="large-4 columns">
        <%= f.label :type %>
        <%= f.collection_select :animal_type_id, AnimalType.all, :id, :name %>
      </div>
      <div class="large-4 columns">
        <%= f.label :breed %>
        <%= f.text_field :breed %>
      </div>
      <div class="large-4 columns"></div>
    </div>
    
    <div class="row">
      <div class="large-4 columns">
        <%= f.label :weight %>
        <%= f.text_field :weight %>
      </div>
      <div class="large-4 columns">
      	<label for="animal_breed">Date of birth</label>
        <input type="date" name="DOB">
      </div>
      <div class="large-4 columns"></div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>

  
  
  <% if @owner.class.name == 'Household'%>
    <%= f.hidden_field :household_id, value: @owner.id %>
  <% end %>
  <% if @owner.class.name == 'Breeder'%>
    <%= f.hidden_field :breeder_id, value: @owner.id %>
  <% end %>
<% end %>
