<%= form_for [@owner, @animal] do |f| %>
  

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.collection_select :animal_type_id, AnimalType.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :breed %><br>
    <%= f.text_field :breed %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% if @owner.class.name == 'Household'%>
    <%= f.hidden_field :household_id, value: @owner.id %>
  <% end %>
  <% if @owner.class.name == 'Breeder'%>
    <%= f.hidden_field :breeder_id, value: @owner.id %>
  <% end %>
<% end %>
