<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <% for picture in @animal.pictures %>
	<li>
	   <%= image_tag(picture.image_location, class: 'th') %>
	   </br>
	   <%= link_to image_tag('cross.png', :alt => "del"), animal_picture_path(@animal, picture), method: :delete, confirm: 'Remove this picture?', remote: true %>
	</li>
		  
  <% end %>
</ul>

<%= form_for([@animal, Picture.new], remote: true, html: { id: "animal_picture_upload", "data-abide" => '' }) do |f| %>
  <div class="row">
	<div class="large-6 columns">
	  <%= f.file_field :image, class: 'upload_picture', required: true %>
	  <small class="error">File required.</small>
	</div>
  </div>
  <div class="row">
	<div class="large-6 columns">
	  <%= f.hidden_field :animal_id, value: @animal.id %>
	  <div class="actions"><%= f.submit 'Upload photo' %></div>
	</div>
  </div>
<% end %>