<div class="section-container auto" data-section>
 	
  <%= content_tag :section do %>
    <p class="title" data-section-title><a href="#panel1">Demographics</a></p>
	<div class="content" data-section-content>  	
      <div class="row">
		  <div class="large-8 columns">
		  	<%= f.label :name, 'name' %>
			<%= f.text_field :name, placeholder: "animal's name" %>
			<small class="error">Name required.</small>
		  </div>
		</div>
		
		<div class="row">
		  <div class="large-4 columns">
		  	<%= f.label :animal_type_id, "species" %>
			<%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, {prompt:'species'}, {class: "regular_select"} %>
		  </div>
		  <div class="large-6 columns">
			<%= f.label :breed_ids, "breed(s)" %>
		  	<%= f.text_field :breed_ids %>
		  </div>
		  <div class="large-2 columns"></div>
		</div>
				
		<div class="row">
		  <div class="large-4 columns">
			<%= f.label :dob, 'date of birth' %>
			<%= f.text_field :dob, value: mo_da_yr(@animal.dob) , class: "datepicker", placeholder: "date of birth" %>
		  </div>
		  <div class="large-8 columns"></div>
		</div>
		
		<div class="row">
		  <div class="large-3 columns">
			<%= f.select :gender, options_for_select(["male", "female"], @animal.gender), {prompt:'gender'}, {class: "regular_select"}  %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="large-2 columns">
		  	<%= f.label :neutered, id: 'dynamic_neutered_label' do %>
			  <%= f.check_box :neutered %><span id="neutered_label"> <%= neutered_term(@animal.gender) %>?</span> 
			<% end %>
		  </div>
		  <div class="large-4 columns">
		  	<%= f.label :neutered_date, 'neuter / spay date' %>
		  	<%= f.text_field :neutered_date, value: mo_da_yr(@animal.neutered_date) , class: "datepicker", placeholder: "date neutered / spayed" %>
		  </div>
		  <div class="large-3 columns"></div>
		</div>
				    
				    
				    
		<div class="row">
		  <div class="large-4 columns">
		    <div id="animal_pedigree_div"><%= render 'pedigree_file_upload'%></div>
		  </div>
		  
		</div>
		  
		<div class="row">
		  <div class="large-4 columns">
		  	<%= f.label :registration_club_id, 'registration club' %>
		  	<%= f.text_field :registration_club_id %>
		  </div>
		  
		  <div class="large-4 columns">
		  	<%= f.label :registration_number, 'registration number' %>
		  	<%= f.text_field :registration_number, placeholder: "registration number" %>
		  </div>
		  
		  <div class="large-4 columns">
		  	<%= f.label :rfid, 'microchip id number' %>
		  	<%= f.text_field :rfid, placeholder: "microchip id number" %>
		  </div>		      	      
		</div>
		
		<div class="row">
		  <div class="large-4 columns">
		  	<%= f.label :fur_color, 'fur color' %>
		  	<%= f.text_field :fur_color, placeholder: "fur color" %>
		  </div>	
		</div>
		
		<div class="row">
		  <div class="large-4 columns bottom_padding_10">
		  	<%= f.label :personality_type_ids, "dispostion" %>
		  	<%= f.text_field :personality_type_ids %>
		  </div>	
		</div>
				    
		<div class="row">
		  <div class="large-12 columns">
			
			<%= f.text_area :description, placeholder: "description of animal" %>
		  </div>
		</div>

	</div>
  <% end %>
	
	
  <%= content_tag :section, :class => ('disabled' if @animal.new_record?) do %>
    <p class="title" data-section-title><a href="#panel2">Health & Wellness</a></p>
	<div class="content" data-section-content>
	  <%= render 'animal_health_fields', f: f %>
	</div>
  <% end %>
	  
	  
	  
  <%= content_tag :section, :class => ('disabled' if @animal.new_record?) do %>
	<p class="title" data-section-title><a href="#panel3">Preferences</a></p>
	<div class="content" data-section-content>
	  <div class="row">
		  <div class="large-10 columns">
		  	<%= f.label :food_id, 'food preference' %>
			<%= f.text_field :food_id, class: 'select' %>
		  </div>
		  <div class="large-2 columns"></div>
		  
	  </div>
	  
	  <div class="row">
		  <div class="large-6 columns">
            <%= text_field_tag 'feeding_display', @animal.feeding_comment ,placeholder: 'feeding size and frequency (3 cups daily)'%>
		  </div>
		  <div id="feeding_dialog" title="Feeding information">
		   <p class="validateTips">All form fields are required.</p>
		   <div class="row">
		   	 <div class="small-6 columns">
			  <%= text_field_tag 'feeding_volume', @animal.volume_per_serving , placeholder: 'Number of ->' %>
			 </div>
			 <div class="small-6 columns">
			  <%= select_tag 'feeding_measure',  options_for_select(["cups", "grams", "ounces", "lbs", "scoops"], @animal.serving_measure), prompt:'size', class:"regular_select" %>
		     </div>
		   </div>
		   <div class="row">
		   	<div class="small-12 columns">
			 <%= select_tag 'feeding_frequency', options_for_select(feeding_frequency_options, @animal.servings_per_day), include_blank: true, prompt: 'servings per day', class: 'regular_select' %>
			</div>
		   </div>
		   
          </div>
		  
		  <div class="large-6 columns"></div>
		  <%= f.hidden_field :volume_per_serving %>
		  <%= f.hidden_field :serving_measure %>
		  <%= f.hidden_field :servings_per_day %>
	  </div>
	  
	  <div class="row">
		  <div class="large-10 columns">
			<%= f.label :shampoo_id, 'shampoo' %>
			<%= f.text_field :shampoo_id, class: 'select' %>
		  </div>
		  <div class="large-2 columns"></div>
		  
	  </div>
	  
	  <div class="row">
		  <div class="large-10 columns">
			<%= f.label :treat_id, 'treat preference' %>
			<%= f.text_field :treat_id, class: 'select' %>
		  </div>
		  <div class="large-2 columns"></div>
		  
	  </div>
	  
	  <div class="row">
		  <div class="large-10 columns">
			<%= f.label :vitamin_id, 'vitamin' %>
			<%= f.text_field :vitamin_id, class: 'select' %>
		  </div>
		  <div class="large-2 columns"></div>
		  
	  </div>
	  <div class="row">
		  <div class="large-12 columns">
		  	<%= f.label :special_instructions, 'special care instructions' %>
			<%= f.text_area :special_instructions, placeholder: "special care instructions" %>
		  </div>
	  </div>
	  
	</div>
  <% end %>
	  
  <%= content_tag :section, :class => ('disabled' if @animal.new_record?) do %>
	<p class="title" data-section-title><a href="#panel4">Service Providers</a></p>
	<div class="content" data-section-content>
	     <div class="row">	
		  <div class="large-12 columns">
		  	<div id="animal_provider_table_div"><%= render 'provider_table'%></div>
			
		  </div>
		</div>
    </div>
  <% end %>
  
</div>