<div class="section-container auto" data-section>
 	
  <%= content_tag :section do %>
    <p class="title" data-section-title><a href="#panel1">Demographics</a></p>
	<div class="content" data-section-content>  	
      <div class="row">
		  <div class="large-8 columns">
			<%= f.text_field :name, placeholder: "Animal's name" %>
			<small class="error">Name required.</small>
		  </div>
		</div>
				    
		<div class="row">
		  <div class="large-8 columns">
			<%= f.text_field :show_name, placeholder: "Animal's show name" %>
		  </div>
		</div>
				    
		<div class="row">
		  <div class="large-4 columns">
			<%= f.label :type, 'Species' %>
			<%= f.collection_select :animal_type_id, AnimalType.all, :id, :name %>
		  </div>
		  <div class="large-4 columns">
			<%= f.label :breed %>
			<%= f.text_field :breed %>
		  </div>
		  <div class="large-4 columns"></div>
		</div>
				    
		<div class="row">
		  <div class="large-4 columns">
			<%= f.label :dob %>
			<%= f.date_field :dob %>
		  </div>
		  <div class="large-8 columns"></div>
		</div>
				    
		<div class="row">
		  <div class="large-4 columns">
		    <div id="animal_pedigree_div"><%= render 'pedigree_file_upload'%></div>
		  </div>
		  
		  
		  <div class="large-4 columns">
		  	<%= f.text_field :registration_number, placeholder: "registration number" %>
		  </div>
		  
		  <div class="large-4 columns"></div>		      	      
		</div>
				    
		<div class="row">
		  <div class="large-12 columns">
			<%= f.label :description %>
			<%= f.text_area :description %>
		  </div>
		</div>

	</div>
  <% end %>
	
	
  <%= content_tag :section, :class => ('disabled' if @animal.new_record?) do %>
    <p class="title" data-section-title><a href="#panel2">Health & Wellness</a></p>
	<div class="content" data-section-content>
	  <div class="row">
		  <div class="large-4 columns">
			<%= f.label :weight %>
			<%= f.text_field :weight %>
		  </div>
		  <div class="large-8 columns"></div>
		</div>
		
		<div class="row">
				      
		  <div class="large-6 columns">
		  	<div id="animal_health_cert_div"><%= render 'health_certification_upload'%></div>
		
		  </div>
		  <div class="large-6 columns">
		  	<div id="animal_vaccination_div"><%= render 'vaccination_file_upload'%></div>
		  </div>
				      	      
		</div>
		
		<div class="row">	
		  <div class="large-12 columns">
		  	<div id="animal_vaccination_table_div"><%= render 'vaccination_table'%></div>
			
		  </div>
		</div>
		
		  <% if false %>
		    <%= render 'documents'%>
		  <% end %>
	</div>
  <% end %>
	  
  <%= content_tag :section, :class => ('disabled' if @animal.new_record?) do %>
	<p class="title" data-section-title><a href="#panel3">Preferences</a></p>
	<div class="content" data-section-content>
	  
	</div>
  <% end %>
	  
  <%= content_tag :section, :class => ('disabled' if @animal.new_record?) do %>
	<p class="title" data-section-title><a href="#panel4">Service Providers</a></p>
	<div class="content" data-section-content>
	  
    </div>
  <% end %>
  
</div>