<div class="section-container auto" data-section>
 	
  <%= content_tag :section do %>
    <p class="title" data-section-title><a href="#panel1">Demographics</a></p>
	<div class="content" data-section-content>  	
      <div class="row">
		  <div class="large-8 columns">
			<%= f.text_field :name, placeholder: "Animal's name" %>
			<small class="error">Name required.</small>
		  </div>
		</div>
				    
		<div class="row">
		  <div class="large-8 columns">
			<%= f.text_field :show_name, placeholder: "Animal's show name" %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="large-4 columns">
			<%= f.select :gender, options_for_select(["male", "female"], @animal.gender), {prompt:'gender'}, {class: "regular_select"}  %>
		  </div>
		  <div class="large-4 columns">
		  	<%= f.label :neutered do %>
			  <%= f.check_box :neutered %> Neutered?
			<% end %>
		  </div>
		  <div class="large-4 columns"></div>
		</div>
				    
		<div class="row">
		  <div class="large-4 columns">
			<%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, {prompt:'species'}, {class: "regular_select"} %>
		  </div>
		  <div class="large-4 columns">
			<%= f.text_field :breed_id %>
		  </div>
		  <div class="large-4 columns"></div>
		</div>
				    
		<div class="row">
		  <div class="large-4 columns">
			
			<%= f.text_field :dob, value: mo_da_yr(@animal.dob) , class: "datepicker", placeholder: "date of birth" %>
		  </div>
		  <div class="large-8 columns"></div>
		</div>
				    
		<div class="row">
		  <div class="large-4 columns">
		    <div id="animal_pedigree_div"><%= render 'pedigree_file_upload'%></div>
		  </div>
		  
		  
		  <div class="large-4 columns">
		  	<%= f.text_field :registration_number, placeholder: "registration number" %>
		  </div>
		  
		  <div class="large-4 columns"></div>		      	      
		</div>
				    
		<div class="row">
		  <div class="large-12 columns">
			
			<%= f.text_area :description, placeholder: "description of animal" %>
		  </div>
		</div>

	</div>
  <% end %>
	
	
  <%= content_tag :section, :class => ('disabled' if @animal.new_record?) do %>
    <p class="title" data-section-title><a href="#panel2">Health & Wellness</a></p>
	<div class="content" data-section-content>
	   <div class="row">
		  <div class="large-3 columns">
			<%= f.text_field :weight, placeholder:"weight" %>
		  </div>
		  <div class="large-3 columns">
			<%= f.select :weight_measure, options_for_select(["lbs", "ounces", "grams", "kg"], @animal.weight_measure), {prompt:"weight measure"}, {class: "regular_select"}  %>
		  </div>
		  
		  <div class="large-6 columns"></div>
		</div>
		
		<div class="row">
				      
		  <div class="large-6 columns">
		  	<div id="animal_health_cert_div"><%= render 'health_certification_upload'%></div>
		
		  </div>
		  <div class="large-6 columns">
		  	<div id="animal_vaccination_div"><%= render 'vaccination_file_upload'%></div>
		  </div>
				      	      
		</div>
		
		<div class="row">	
		  <div class="large-12 columns">
		  	<div id="animal_vaccination_table_div"><%= render 'vaccination_table'%></div>
			
		  </div>
		</div>
		
		<div class="row">
		  <div class="large-6 columns">
		  	<%= f.label :medical_diagnosis_ids, "Medical diagnosis" %>
		  	<%= f.text_field :medical_diagnosis_ids %>
		  	
		  </div>
		</div>
		
		<div class="row">
		  <div class="large-6 columns">
		  	<%= f.label :medication_ids, "Medications" %>
		  	<%= f.text_field :medication_ids %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="large-6 columns">
		  	<%= f.label :allergy_ids, "Allergies" %>
		  	<%= f.text_field :allergy_ids %>
		  </div>
		</div>
		
		  <% if false %>
		    <%= render 'documents'%>
		  <% end %>
	</div>
  <% end %>
	  
  <%= content_tag :section, :class => ('disabled' if @animal.new_record?) do %>
	<p class="title" data-section-title><a href="#panel3">Preferences</a></p>
	<div class="content" data-section-content>
	  <div class="row">
		  <div class="large-10 columns">
			<%= f.text_field :food_id, class: 'select' %>
		  </div>
		  <div class="large-2 columns"></div>
		  
	  </div>
	  
	  <div class="row">
		  <div class="large-3 columns">
			
			<%= f.text_field :volume_per_serving, placeholder: 'Amount per serving' %>
		  </div>
		  <div class="large-3 columns">
			
			<%= f.select :serving_measure,  options_for_select(["grams", "ounces", "lbs", "scoops"], @animal.serving_measure), {prompt:'serving measure'}, {class:"regular_select"} %>
		  </div>
		  <div class="large-3 columns">
		
			<%= f.text_field :servings_per_day, placeholder: 'Servings per day' %>
		  </div>
		  <div class="large-3 columns"></div>
		  
	  </div>
	  
	  <div class="row">
		  <div class="large-10 columns">
			
			<%= f.text_field :shampoo_id, class: 'select' %>
		  </div>
		  <div class="large-2 columns"></div>
		  
	  </div>
	  
	  <div class="row">
		  <div class="large-10 columns">
			
			<%= f.text_field :treat_id, class: 'select' %>
		  </div>
		  <div class="large-2 columns"></div>
		  
	  </div>
	  
	  <div class="row">
		  <div class="large-10 columns">
			
			<%= f.text_field :vitamin_id, class: 'select' %>
		  </div>
		  <div class="large-2 columns"></div>
		  
	  </div>
	</div>
  <% end %>
	  
  <%= content_tag :section, :class => ('disabled' if @animal.new_record?) do %>
	<p class="title" data-section-title><a href="#panel4">Service Providers</a></p>
	<div class="content" data-section-content>
	     <div class="row">	
		  <div class="large-12 columns">
		  	<div id="animal_provider_table_div"><%= render 'provider_table'%></div>
			
		  </div>
		</div>
    </div>
  <% end %>
  
</div>