<table class="margin-bottom_25em">
	<tr>
	  <th>Vaccination</th>
	  <th>Date</th>
	  <th>Due</th>
	  <th>Tag number</th>
	  <th></th>
	 
	</tr>
	
	<% @animal.animal_vaccinations.each do |animal_vaccination|%>
	  <tr>
		<td><%= animal_vaccination.name%></td>
		<td><%= mo_da_yr(animal_vaccination.date) %></td>
		<td><%= mo_da_yr(animal_vaccination.due) %></td>
		<td><%= animal_vaccination.tag_number%></td>
		<td><%= link_to image_tag('cross.png', :alt => "del"), animal_animal_vaccination_path(@animal, animal_vaccination), method: :delete, remote: true, 
				 data: { confirm: 'Please confirm you want to remove ' + animal_vaccination.name + ' from the list.' } %></td>
	  </tr>
	<% end %>
		
</table>

<div class="row bottom_padding_1em">
  <div class="large-4 columns">
	<%= link_to 'Add Vaccination', '#', "data-reveal-id" => "addVaccinationModal" %>
  </div>
</div>