<%= breadcrumb_nav( @animal.owner ? [@animal.owner, @animal] : [@animal] ) %>
<section class="border_top">
  <div class="row">
	<fieldset>
	  <div class="row">
	  	<div class="large-9 columns">
	  	  <h4><%= image_tag(@animal.avatar.url, size: "50x50", class: 'picture_border_2') if @animal.avatar_stored? %> <%=@animal.name%> </h4>
	  	</div>
	  	<div class="large-3 columns">
		  <div class="hidden flash_alert alert-box success"  data-alert> 
			  Animal information saved.
			  <a href="" class="close">&times;</a>
		  </div>
		</div>
	  </div>
	  <div id='animal_form_div'><%= render 'form' %></div>
	  
	  <!---<%= link_to 'Delete this record', household_animal_path(@owner, @animal), 
						:confirm => "Select 'OK' to delete this animal. All system records will be lost.", method: :delete%>--->
	<%= link_to 'Back', @animal.owner %>
	</fieldset>
	
  </div>
</section>

<div id="addVaccinationModal" class="reveal-modal">
    <h3>Add vaccination</h3>
	<%= form_for [@animal, AnimalVaccination.new], remote: true, html: {id: 'animal_vaccination_form', "data-abide" => '', class: 'flash_save'} do |f| %>
	  <div class="row">
	    <div class="large-11 columns">
	      <%= f.text_field :vaccination_id, class: 'select'  %>
	    </div>
	  </div>
	    
	  <div class="row">
	    <div class="large-4 columns">
	      <%= f.text_field :vaccination_date, class: "datepicker", placeholder: "Select a date" %>
	      <small class="error">Vaccination date required.</small>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="large-4 columns">
	      <%= f.text_field :tag_number, placeholder: "Vaccination number (ex: rabies tag #)" %>
	    </div>
	  </div>
	  
	  <%= f.hidden_field :animal_id, value: @animal.id %>  
	  
	  <div class="actions">
	    <%= f.submit "Add vaccination" %>
	  </div>
	  
	<% end %>
	  
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="addAnimalProviderModal" class="reveal-modal">
    <h3>Add Service Provider</h3>
	<%= form_for [@animal, AnimalAssociation.new], remote: true, html: {id: 'animal_association_form', "data-abide" => '', class: 'animal_association_form flash_save' } do |f| %>
	  <div class="row">
	    <div class="large-12 columns">
		  Narrow your search results by entering a business type, city, state, and/or zip
	    </div>
	  </div>
	  <div class="row">
	    <div class="large-6 columns">
		  <%= select_tag 'provider_type_term', options_from_collection_for_select(ServiceProviderType.all, 'id', 'name'), include_blank: true, class:'regular_select', prompt: 'business type' %>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="large-6 columns">
		  <%= text_field_tag 'city_term', nil, placeholder: "City" %>
	    </div>  
	    <div class="large-2 columns">
		  <%= select_tag 'state_term', options_for_select(us_states), include_blank: true, class:'state_select', prompt: 'State' %>
	    </div>
	    <div class="large-3 columns">
		  <%= text_field_tag 'zip_term', nil, placeholder: "zip" %>
	    </div>
	    <div class="large-1 columns"></div>
	    
	  </div>
	  
	  <div class="row">
	    <div class="large-11 columns">
		  <%= f.text_field :service_provider_id, class: "select" %>
	    </div>
	  </div>

	  <%= f.hidden_field :animal_id, value: @animal.id %>  
	  
	  <div class="actions">
	    <%= f.submit "Add provider" %>
	  </div>
	  
	<% end %>
	<p>
	  Don't see the business you are look for?
	  <%= link_to "Add new provider", "#", "data-reveal-id" => "addNewProviderModal" %>
	</p>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="addNewProviderModal" class="reveal-modal">
    <h3>Tell us about the new provider</h3>

	<%= form_for(ServiceProvider.new, remote: true, html: {id: 'new_animal_provider_form', "data-abide" => '', class: 'animal_association_form flash_save' } ) do |f| %>
	
	  <%= render 'service_providers/fields', f: f %>  
	
	  <%= hidden_field_tag 'animal_id', @animal.id %> 
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
    <a class="close-reveal-modal">&#215;</a>
</div>