<section class="border_top">
  <div class="row">
	<fieldset>
	  <div class="row">
	  	<div class="large-9 columns">
	  	  <h4><%=@animal.name%></h4>
	  	</div>
	  	<div class="large-3 columns">
		  <div class="hidden flash_alert alert-box success"  data-alert> 
			  Animal information saved.
			  <a href="" class="close">&times;</a>
		  </div>
		</div>
	  </div>
	  <div id='animal_form_div'><%= render 'form' %></div>
	  
	  <%= link_to 'Delete this record', household_animal_path(@owner, @animal), 
						:confirm => "Select 'OK' to delete this animal. All system records will be lost.", method: :delete%>
	</fieldset>
	
	<%= link_to 'Back', @animal.owner %>
  </div>
</section>

<div id="addVaccinationModal" class="reveal-modal">
    <h3>Add vaccination</h3>
	<%= form_for [@animal, AnimalVaccination.new], html: { "data-abide" => '' } do |f| %>
	  <div class="row">
	    <div class="large-12 columns">
	      <%= f.collection_select :vaccination_id, Vaccination.all, :id, :name  %>
	    </div>
	  </div>
	    
	  <div class="row">
	    <div class="large-12 columns">
	      <%= f.date_field :vaccination_date %>
	    </div>
	  </div>
	    
	  
	  <div class="actions">
	    <%= f.submit "Add vaccination" %>
	  </div>
	  
	<% end %>
	  
	<a class="close-reveal-modal">&#215;</a>
</div>