<div class="hidden flash_alert alert-box success"  data-alert> 
  Animal information saved.
  <a href="" class="close">&times;</a>
</div>


<section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
	  <h1 class="ptitle left">
	  	<%= thumbnail(@animal, "50x50", 'none') %> <%=@animal.name%> 
	  	<% if @animal.has_notifications? %>
	  	  <%= image_tag 'details_open.png', id: 'notification_details',  class: 'details' %>
	  	<% end %>
	  </h1>
      <%= breadcrumb_nav( @household.present? ? [show_link(@household, @household.name)] : ['Editing']) %>
	</div>
  </div>
</section>


<section class="white_background">
  <div class="row">
	  <div class="row">
	  	<div class="large-12 columns">
	       <div id="animal_notifications_div" class="innerDetails"><%= render 'animals/notifications'%></div>
	       <!--- JDavis: need to utilize foundation for the notifications & alerts.  jdhere
	       <div data-alert class="alert-box info radius">
			 This is an info alert with a radius.
			 <a href="#" class="close">&times;</a>
		   </div>
	       	--->
	    </div>
	  </div>
	  
	  <div id='animal_form_div'>
	  	<%= render 'sections' %>
	  </div>
	  
	<%= link_to button_small('back'), :back %>
	
	
  </div>
</section>

