<% content_for :title, "Animal" %>

<div class="full_page">

 <section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
      <h1 class="ptitle left">
        <%= thumbnail(@animal, "50x50", 'none') %> <%=@animal.name%> 
      </h1>
      <%= breadcrumb_nav( @household.present? ? [show_link(@household, @household.name)] : ['View only']) %>
      <!--- JDavis: add an 'edit' link into the breadcrumb if they can edit.  jdhere.
        <%if current_user && can?(:manage, @animal)%><small><%= link_to " (edit)", [:edit, @owner, @animal] %> </small><% end %>
      --->
    </div>
  </div>
 </section>


 <section class="white_background">
  <div class="row">
  	<div class="large-7 columns">
  		
<!--- transfer  --->
  	 <div class="row">
	  	<div class="large-12 columns">
	
<fieldset>
	  	  <p>
	  	    <b>Looking to confirm a transfer?</b>  Create an account to obtain your animals healthcare records.
	  	  </p>	
	  	  
	  	  
  
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { "data-abide" => ''}) do |f| %>
		  
		<div class="row collapse">
		  <div class="small-12 columns">
		    <h4>create an account <small>(it's free!)</small></h4>
		  </div>
		</div>
		
		<div class="row collapse">
		  <div class="small-12 columns">
		    <%= f.email_field :email, placeholder: 'email address' %>
		    <small class="error">Valid email required.</small>
		  </div>
		</div>
		
		<% if f.object.password_required? %>
		  <div class="row collapse">
		      
		    <div class="small-12 columns">
		      <%= f.password_field :password, placeholder: 'password (8 or more characters)', 'required' => :required  %>
		      <small class="error" >Passwords must be at least 8 characters.</small>
		    </div>
		  </div>
		
		  <div class="row collapse">
		    <div class="small-12 columns">
		      <%= f.password_field :password_confirmation, placeholder: 'password confirmation', 'required' => :required %>
		      <small class="error" >Confirmation required.</small>
		    </div>
		  </div>
	    <% end %>
		  
		  <div class="row collapse bottom_padding_10">
		    <div class="small-2 columns"><%= f.submit "join", class: "small button" %> </div>
		    
		    <div class="small-3 columns">
		 		<p>... or use 
            	  <%= link_to image_tag(s3_url('webicon-facebook-m.png')), user_omniauth_authorize_path(:facebook), class: "fc-webicon" %>
		 		</p> 
		    	
		    </div>
		    
		    <div class="small-7 columns">
		      <small>Signing up indicates agreement with our <%= link_to "privacy policy", privacy_policy_path, "data-reveal-id" => "privacyModal", remote: true  %>.</small>
		    </div>
		  </div>
    <% end %>	
</fieldset>
  
	  	  
	  
	  	</div>
	  </div>
<!--- transfer  --->  		
  		
  		
  		
  		
  		
  		
	  <div class="row">
	  	<div class="large-12 columns">
	  	  <h4><%= @animal.animal_type %></h4>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="large-12 columns">
	  	  <%= @animal.breed_names %>
	  	</div>
	  </div>
	  <div class="row bottom_padding_3em">
	  	<div class="large-12 columns">
	  	  <%= @animal.description %>
	  	</div>
	  </div>
	  <% if @transfer_id %>
	    <div class="panel callout no_highlight">
	      <h5>You have a pending transfer!</h5>
	  	  <div class="row">
		  	<div class="large-6 columns">
		  	  <% if current_user.no_associations? %>
		  	    <%= link_to 'Please create an household to complete the transfer.', new_household_path %>
		  	  <% else %>
		  	    <%= form_for @animal, url: accept_transfer_path, html: { id: "accept_transfer_form", "data-abide" => '' } do |f| %>
		  	      Accept this animal to: <%= select_tag 'association', options_from_collection_for_select(current_user.associations.all, 'id', 'name'), class: "regular_select" %>
		  	      <%= f.submit 'accept ', class: "button small"%> 
		  	      <%= hidden_field_tag 'animal_transfer_id', @transfer_id %>
		  	    <% end %>
		  	    
		  	    <%= link_to "decline", "#" %>
		  	  <% end %>
		  	</div>
		  </div>
	    </div>
	  <% end %>
	 
  	</div>
	 
	<div class="large-5 columns">	
	  <div class="row">
	  	<div class="large-12 columns">
	  	  <%= render 'animals/contact_owner'%>
	  	</div>
	  </div>
	</div>  
    
    <%= (show_link @owner, @owner.name) if current_user.present? %>
  </div>
  
  
 </section>
</div>



