<section class="border_top">
  <div class="row">
	<fieldset>
	  <div class="row">
	  	<div class="large-9 columns">
	  	  <h4><%=@animal.name%><%if can?(:update, @animal)%><small><%= link_to " (edit)", [:edit, @owner, @animal] %> </small><% end %></h4>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="large-9 columns">
	  	  <%=@animal.animal_type%>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="large-9 columns">
	  	  <%=@animal.breed_name%>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="large-9 columns">
	  	  <%=@animal.description%>
	  	</div>
	  </div>
	  <% if current_user.animal_transfers.map{|at| at.animal_id}.include?(@animal.id) %>
	    <fieldset>
	      <h5>You have a pending transfer!</h5>
	  	  <div class="row">
		  	<div class="large-12 columns">
		  	  <% if current_user.no_associations? %>
		  	    <%= link_to 'Please create an household to complete the transfer.', new_household_path %>
		  	  <% end %>
		  	</div>
		  </div>
	    </fieldset>
	  <% end %>
    </fieldset>
    
    <%= show_link @owner, @owner.class.name %>
  </div>
</section>



