<section class="border_top">
  <div class="row">
	<fieldset>
	  <div class="row">
	  	<div class="large-9 columns">
	  	  <h4><%=@animal.name%></h4>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="large-9 columns">
	  	  <%=@animal.animal_type%>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="large-9 columns">
	  	  <%=@animal.breed_name%>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="large-9 columns">
	  	  <%=@animal.description%>
	  	</div>
	  </div>
    </fieldset>
    <%= link_to 'Edit', [:edit, @owner, @animal] %> |
    <%= link_to 'Back', @owner %>
  </div>
</section>



