<table id="sp_client_list_table" class="fouc"  >
  <thead>
	<tr>
	  <th></th>
	  <th>Name</th>
	 
	  <th>Species</th>
	  <th>Breed</th>
	  <th>Gender</th>
	  
	  <th></th>
	</tr>
  </thead>
  <tbody>
    <% @service_provider.animal_associations.each do |association| %>
	  <tr id="<%= association.animal_id %>" class="<%= provider_row_classes(association.checked_in) %>" >
	  	<td><%= link_to thumbnail(association.animal, '50x50'), "#", remote: true  %></td>
		<td><%= link_to association.animal.name, "#", remote: true %></td>
		
		<td><%= association.animal.species %></td>
		<td><%= association.animal.breed_names %></td>
		<td><%= association.animal.gender %></td>
		
		<td><%= link_to button_small("check in"), check_in_service_provider_animal_path(@service_provider, association.animal), "data-reveal-id" => "clientModal", remote: true %></td>
	  </tr>
    <% end %>
  </tbody>
</table>
