<table id="sp_current_clients_table" class="fouc"  >
  <thead>
	<tr>
	  <th></th>
	  <th>Name</th>
	 
	  <th>Species</th>
	  <th>Breed</th>
	  <th>Gender</th>
	  
	  <th></th>
	</tr>
  </thead>
  <tbody>
    <% @service_provider.current_clients.each do |animal| %>
	  <tr id="<%= animal.id %>">
	  	<td><%= link_to image_tag(thumbnail(animal), size: '50x50', class: 'th'), "#", remote: true  %></td>
		<td><%= link_to animal.name, "#", remote: true %></td>
		
		<td><%= animal.species %></td>
		<td><%= animal.breed_names %></td>
		<td><%= animal.gender %></td>
		<td><%= link_to button_small("check out"), check_out_service_provider_animal_path(@service_provider, animal), "data-reveal-id" => "clientModal", remote: true %></td>
	  </tr>
    <% end %>
  </tbody>
</table>