  <div class="row">
    <div class="large-6 columns">
	  <%= f.select :service_provider_type_id, ServiceProviderType.all.map { |spt| [spt.name, spt.id] } %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-10 columns">
	  <%= f.text_field :name, placeholder: 'Business name' %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-10 columns">
	  <%= f.text_field :address1, placeholder: 'Address1' %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-10 columns">
	  <%= f.text_field :address2, placeholder: 'Address2' %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-7 columns">
	  <%= f.text_field :city, placeholder: 'City' %>
    </div>
  
    <div class="large-2 columns">
	  <%= f.select :state, us_states %>
    </div>
  
    <div class="large-3 columns">
	  <%= f.text_field :zip, placeholder: 'Zip' %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-6 columns">
	  <%= f.text_field :email, placeholder: 'Business email' %>
    </div>
  
    <div class="large-6 columns">
	  <%= f.text_field :phone, placeholder: 'Business phone' %>
    </div>
  </div>
 
  <div class="row">
    <div class="large-10 columns">
	  <%= f.text_field :website, placeholder: 'Website' %>
    </div>
  </div>
  
  <fieldset>
      <legend>Services provided</legend>
  	
	  <%= hidden_field_tag "service_provider[service_ids][]", nil %>
	  <ul class=" large-block-grid-3">
	   <% Service.all.each do |service| %>
	     <li>
	       <label for='<%=dom_id(service)%>'>
		     <%= check_box_tag "service_provider[service_ids][]", service.id, nil, id: dom_id(service) %>
		     <span class="custom checkbox"></span>
		     <%= service.name %>
		   </label>
	     </li>
		<% end %>
	  </ul>
  </fieldset>
  