  
  
  <fieldset>
      <legend>Business Type</legend>
  	
	  <%= hidden_field_tag "service_provider[service_provider_type_ids][]", nil %>
	  <ul class=" large-block-grid-3">
	   <% ServiceProviderType.all.each do |spt| %>
	     <li>
	       <label for='<%=dom_id(spt)%>'>
		     <%= check_box_tag "service_provider[service_provider_type_ids][]", spt.id, business_selected(@service_provider, spt.id), id: dom_id(spt), class: "service_provider_type" %>
		     <span class="custom checkbox"></span>
		     <%= spt.name %>
		   </label>
	     </li>
		<% end %>
	  </ul>
  </fieldset>
  
  <div class="row">
    <div class="large-10 columns">
	  <%= f.text_field :name, placeholder: 'Business name' %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-10 columns">
	  <%= f.text_field :address1, placeholder: 'Address1' %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-10 columns">
	  <%= f.text_field :address2, placeholder: 'Address2' %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-7 columns">
	  <%= f.text_field :city, placeholder: 'City' %>
    </div>
  
    <div class="large-2 columns">
	  <%= f.select :state, us_states %>
    </div>
  
    <div class="large-3 columns">
	  <%= f.text_field :zip, placeholder: 'Zip' %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-6 columns">
	  <%= f.text_field :email, placeholder: 'Business email' %>
    </div>
  
    <div class="large-6 columns">
	  <%= f.text_field :phone, placeholder: 'Business phone' %>
    </div>
  </div>
 
  <div class="row">
    <div class="large-10 columns">
	  <%= f.text_field :website, placeholder: 'Website' %>
    </div>
  </div>
  
  <fieldset>
      <legend>Services provided</legend>
	  <%= hidden_field_tag "service_provider[service_ids][]", nil %>
	  <ul id="available_services" class=" large-block-grid-3">
	    <% if @service_provider %>
		   <% @service_provider.services_available.each do |service| %>
		     <li class="child_of_<%=service.service_provider_type_id%>">
		       <label for='<%=dom_id(service)%>'>
			     <%= check_box_tag "service_provider[service_ids][]", service.id, service_selected(@service_provider, service.id), id: dom_id(service) %>
			     <span class="custom checkbox"></span>
			     <%= service.name %>
			   </label>
		     </li>
			<% end %>
	    <% end %>
	  </ul>
  	  
  </fieldset>
  