<% content_for :title, "Animal Service Provider" %>
<%= breadcrumb_nav( ['new business'] ) if current_user %>
<section class="border_top">
  <div class="row">
   <fieldset>
    <h4>Tell us about your business</h4>

    <%= render 'form' %>
    <%= link_to 'Launch Quick Start', '#', 'data-reveal-id'=>'stepsOverviewModal' %>
   </fieldset>
   
  </div>
</section>

<div id="stepsOverviewModal" class="reveal-modal" data-reveal>	
  <div class="row">
  	<div class="large-7 large-centered columns">
	    <%= image_tag 'mww.png'%>
	</div>
	
    <h3>Here's how it works:</h3>
  </div>
  <div class="row">
	<div class="large-12 columns">
	  <ul class="small-block-grid-2 large-block-grid-4">
		<li>
	      <div class="panel callout front_page_callout">
            <p>1. Tell us about your business.</p>
          </div>
		</li>
		<li >
	      <div class="panel callout front_page_callout"> 
            <p>2. Identify services provided.</p>
          </div>
			
		</li>
		<li>
	      <div class="panel callout front_page_callout">
            <p>3. Add admin staff.</p>
          </div>
		</li>
		<li>
	      <div class="panel callout front_page_callout">
            <p>4. Start using Petabyt!</p>
          </div>
		</li>
	  </ul>
	  
	</div>
	
	<div class="row">
		<div class="large-3 columns"></div>
		<div class="large-3 columns">
			<%= link_to button_small('get started'), '#', 'data-reveal-id'=>'stepsOverviewModal2', class: "close-reveal-modal new_account_nav"   %>
		</div>
	</div>
  </div>
   
</div>

<div id="stepsOverviewModal2" class="reveal-modal" data-reveal>
  <h4>Give us your business name & info</h4>
  <%= form_for(@service_provider, html: {id: "quick_service_provider_form", "data-abide" => '' }) do |f| %>

    <div class="row">
      <div class="large-12 columns">
        <%= f.text_field :name, placeholder: "business name ex. Pet Hotel"  %>
        <small class="error">business name required.</small>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <%= f.text_field :address1, placeholder: "address"  %>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <%= f.text_field :address2, placeholder: "address"  %>
      </div>
    </div>
    
    <div class="row">
      <div class="large-5 columns">
        <%= f.text_field :city, placeholder: "city"  %>
      </div>
      <div class="large-3 columns">
        <%= f.text_field :state, placeholder: "state"  %>
      </div>
      <div class="large-3 columns">
        <%= f.text_field :zip, placeholder: "zip"  %>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <label for='part_of'>
          <%= check_box_tag 'part_of', '1', {checked: "checked"}  %>
          <span class="custom checkbox"></span>
          Select if you are part of this service provider (owner, employee, etc.)
        </label>
      </div>
    </div>
    
    <div class="row">
      <div class="large-3 columns">
      	<%= link_to button_small('<< back'), '#', 'data-reveal-id'=>'stepsOverviewModal', class: "close-reveal-modal new_account_nav"   %>
      </div>
	  <div class="large-3 columns">
		<%= link_to button_small('next >>'), '#', 'data-reveal-id'=>'stepsOverviewModal3', class: "close-reveal-modal new_account_nav"   %>
	  </div>
	</div>
</div>

<div id="stepsOverviewModal3" class="reveal-modal" data-reveal>
  <h4>Identify business type and services provided</h4>
  
  <fieldset>
      <legend>Business Type <small>Select all that apply</small></legend>
      
  	
	  <%= hidden_field_tag "service_provider[service_provider_type_ids][]", nil %>
	  <ul class=" large-block-grid-6">
	   <% ServiceProviderType.all.each do |spt| %>
	     <li>
	       <label for='<%=dom_id(spt)+'modal'%>'>
		     <%= check_box_tag "service_provider[service_provider_type_ids][]", spt.id, business_selected(@service_provider, spt.id), id: dom_id(spt)+'modal', class: spt.add_css_classes(true) %>
		     <span class="custom checkbox"></span>
		     <%= spt.name %>
		   </label>
	     </li>
		<% end %>
	  </ul>
  </fieldset>
  
  <fieldset>
      <legend>Services provided <small>Select all that apply</small></legend>
	  <%= hidden_field_tag "service_provider[service_ids][]", nil %>
	  <ul id="available_services_modal" class=" large-block-grid-6">
	    <% if @service_provider %>
		   <% @service_provider.services_available.each do |service| %>
		     <li class="child_of_<%=service.service_provider_type_id%>">
		       <label for='<%=dom_id(service)+'modal'%>'>
			     <%= check_box_tag "service_provider[service_ids][]", service.id, service_selected(@service_provider, service.id), id: dom_id(service)+'modal' %>
			     <span class="custom checkbox"></span>
			     <%= service.name %>
			   </label>
		     </li>
			<% end %>
	    <% end %>
	  </ul>
  </fieldset>
    
    
    <div class="row">
      <div class="large-3 columns">
      	<%= link_to button_small('<< back'), '#', 'data-reveal-id'=>'stepsOverviewModal2', class: "close-reveal-modal new_account_nav"   %>
      </div>
	  <div class="large-3 columns">
		<%= link_to button_small('next >>'), '#', 'data-reveal-id'=>'stepsOverviewModal4', class: "close-reveal-modal new_account_nav"   %>
	  </div>
	</div>
	
  <script>
	$(".service_provider_type_modal").change(function() {
	  var parent;
	  if (this.checked) {
	  	alert('clicked');
	    parent = this.value;
	    return $.get("/remote_requests/services?spt[]=" + parent, function(data) {
	      return $.each(data, function(key, value) {
	        return $("#available_services_modal").append($("<li class='child_of_" + parent + "'><label for='service_" + value.id + "'><input id='service_" + value.id + "' name='service_provider[service_ids][]' type='checkbox' value=" + value.id + " /> <span class='custom checkbox'></span>" + value.text + "</label></li>"));
	      });
	    });
	  } else {
	    return $("li.child_of_" + this.value).remove();
	  }
	});
  </script>
</div>

<div id="stepsOverviewModal4" class="reveal-modal" data-reveal>
	<h4>Are there another admin users that will help manage the account?</h4>
	<h6>Don't worry, you can add more later!</h6>
	<fieldset>
	    <div class="row">
	      <div class="large-6 columns">
	        <%= text_field_tag 'admin1_first_name', nil, placeholder: "first name"  %>
	      </div>
	    
	      <div class="large-6 columns">
	        <%= text_field_tag 'admin1_last_name', nil, placeholder: "last name"  %>
	      </div>
	    </div>
		<div class="row">
	      <div class="large-12 columns">
	        <%= text_field_tag 'admin1_email', nil, placeholder: "email (required to add an admin)"  %>
	      </div>
	    </div>
	</fieldset>
	<fieldset>
	    <div class="row">
	      <div class="large-6 columns">
	        <%= text_field_tag 'admin2_first_name', nil, placeholder: "first name"  %>
	      </div>
	    
	      <div class="large-6 columns">
	        <%= text_field_tag 'admin2_last_name1', nil, placeholder: "last name"  %>
	      </div>
	    </div>
		<div class="row">
	      <div class="large-12 columns">
	        <%= text_field_tag 'admin2_email1', nil, placeholder: "email (required to add an admin)"  %>
	      </div>
	    </div>
	</fieldset>
	
	<div class="row">
	  <div class="large-3 columns">
      	<%= link_to button_small('<< back'), '#', 'data-reveal-id'=>'stepsOverviewModal3', class: "close-reveal-modal new_account_nav"   %>
      </div>
	  <div class="large-3 columns">
		<%= link_to button_small('submit'), '#', onclick: "$('#quick_service_provider_form').submit()", class: "close-reveal-modal new_account_nav"  %>
	  </div>
	</div>
  <% end %>
</div>
