<% content_for :title, "Animal Service Provider" %>

<section class="border_top">
	
  <div class="row">
    <div class="large-6 columns">
  	
	  <div class="row">
	    <div class="large-12 columns">
		  <h4><%= @service_provider.name %></h4>
	    </div>
	  </div>
	
	  <div class="row">
	    <div class="large-12 columns">
		  <p>Address: <%= @service_provider.address1 %></p>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="large-12 columns">
		  <p>          <%= @service_provider.address2 %></p>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="large-12 columns">
		  <p>City: <%= @service_provider.city %></p>
	    </div>
	  </div>
	
	  <div class="row">
	    <div class="large-3 columns">
		  <p>State: <%= @service_provider.state %> </p>
	    </div>
	    <div class="large-9 columns"><p> Zip: <%= @service_provider.zip %> </p> </div>
	  </div>
	  
	  <div class="row">
	    <div class="large-12 columns">
		  <p>Email: <%= @service_provider.email %></p>
	    </div>
	  </div>
	
	  <div class="row">
	    <div class="large-12 columns">
		  <p>Website: <%= @service_provider.website %></p>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="large-12 columns">
		  <p>Phone: <%= @service_provider.phone %></p>
	    </div>
	  </div>
	
	  <div class="row">
	    <div class="large-12 columns">
	      <%= link_to button_small('back'), :back %>
	    </div>
	  </div>
    </div>
  
    <div class="large-6 columns">
  	  <fieldset>
	     <h5>Services provided</h5>
		 <ul class=" large-block-grid-3">
		   <% if @service_provider.services.count == 0 %>
		     <li>This provider does not have any services listed.</li>
		   <% end %>
		   <% @service_provider.services.each do |service| %>
		     <li>
			     <%= service.name %>
		     </li>
			<% end %>
		 </ul>
	  </fieldset>
  	
    </div>

  </div>

</section>