<% content_for :title, "Animal Service Provider" %>

<div class="full_page">
 <section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
	  <h1 class="ptitle left"><%= @service_provider.name %></h1>
	  
      <%= breadcrumb_nav([@service_provider.name]) %>
     
	</div>
  </div>
 </section>
	
 <div class="row">
  
  <div class="row">
  	<div class="large-7 columns">
      <h4><%= @service_provider.name %></h4>
      <p>
      	<%= @service_provider.address1 %> </br>
      	<%= @service_provider.address2 %> </br>
      	<%= @service_provider.city %> 
      	<%= @service_provider.state %> 
      	<%= @service_provider.zip %> </br>
      	<%= @service_provider.phone %> </br>
      </p>
      
      <p><b>More functionality coming soon!</b></p>
  	</div>
  	
  	
 <% if @notifications.count > 0 %>
  <div class="row">
  	<div class="large-12 columns">
  	  <div id="provider_news" class="fouc">
		<ul>
		  <% @notifications.each do |notification| %>
			<li><%= link_to_if notification.url.present?, org_notification(notification), notification.url %></li>
		  <% end %>
		</ul>
	 </div>
  	</div>	
  </div>
 <% end %>
    
  
  </div>
 </div>

</div>

<div id="clientModal" class="reveal-modal small">
  <div id="sp_animal_div" ></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>