<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_provider.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @service_provider.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @service_provider.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @service_provider.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @service_provider.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @service_provider.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @service_provider.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @service_provider.website %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @service_provider.phone %>
</p>

<%= link_to 'Edit', edit_service_provider_path(@service_provider) %> |
<%= link_to 'Back', service_providers_path %>
