<% content_for :title, "Animal Service Provider" %>
<%= breadcrumb_nav([@service_provider]) if current_user %>
<section class="border_top">
	
 <div class="row">
  <fieldset>
  <div class="row">
  	<div class="large-7 columns">
      <h4><%= @service_provider.name %> <small><%= link_to ' (edit)', edit_service_provider_path(@service_provider), 'data-no-turbolink' => true %></small></h4>
  	</div>
  	<div class="large-5 columns">
  	  <dl class="sub-nav">
		
		<dd><%= link_to button_small("full client list"), service_provider_client_list_path(@service_provider) %></dd>
		
	  </dl>
  	</div>
  	
 <% if @notifications.count > 0 %>
  <div class="row">
  	<div class="large-12 columns">
  	  <div id="provider_news" class="fouc">
		<ul>
		  <% @notifications.each do |notification| %>
			<li><%= link_to_if notification.url.present?, org_notification(notification), notification.url %></li>
		  <% end %>
		</ul>
	 </div>
  	</div>	
  </div>
 <% end %>
    
  <div class="large-12 columns">
	<fieldset>
	  <% if @service_provider.current_clients.count == 0 %>
	    <h4>No animals are currently checked in.</h4>
	    
	  <% else %>
	    <div class="row">
	      <div class="large-12 columns">
	       	<div id="provider_client_table_div"><%= render 'animal_table'%></div>
	      </div>
	    </div>
      <% end %>
			
	    
	</fieldset>
   </div>
  </fieldset>
 </div>



</section>