    <div class="columns large-9">
    	
    
	  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
	    <% for picture in @animal.pictures %>
	      <li>
	    	<%= link_to_if picture.image.present?, image_tag(picture.image_location, class: 'th'), edit_animal_picture_path(@animal, picture), "data-reveal-id" => "editPictureModal", remote: true %>
	    	</br>
	        <div class="row collapse">
	          <div class="small-6 columns">
	    	    <%= link_to image_tag(s3_url('cross.png'), alt: "del"), animal_picture_path(@animal, picture), method: :delete, 
	    		  data: { confirm: 'Remove this picture?' }, remote: true %>
	    	  </div>
	    	  
	    	  <div class="small-6 columns">
	    	    <!--- JDavis: only allow croping of images uploaded through AnimalMinder. Perhaps this should include Petfinder images. --->
		       <% if picture.image.present? && @animal.owner.class.name == "Household" %>
		        <%= link_to image_tag(s3_url('crop_icon.png')), edit_animal_picture_path(@animal, picture), "data-reveal-id" => "editPictureModal", remote: true, 'data-tooltip' => true, class: 'has-tip right', title: 'Crop picture for avatar' %>
		       <% end %>
	    	  </div>
	        </div>
	      </li>
		  
	    <% end %>
	  </ul>
	</div>
	
	<div class="columns large-3">
	  <h5>Upload Photo</h5>
	  <%= form_for([@animal, Picture.new], remote: true, html: { id: "animal_picture_upload", "data-abide" => '' }) do |f| %>
		<div class="row">
	      <div class="small-12 columns">
		    <%= f.file_field :image, class: 'upload_picture', required: true %>
		    <small class="error">File required.</small>
		  </div>
		</div>
		<%= f.hidden_field :animal_id, value: @animal.id %>
		<div class="actions">       
		  <%= f.submit 'upload photo', class: "button small" %>
		</div>
	  <% end %>
	</div>	
  
