<h4><%= @animal.name %></h4>

<div class="row">
  <%= image_tag @picture.image_location, id: "cropbox" %>
	
</div>

<%= form_for @picture, remote: true, url: {action: 'crop'} do |f| %>
  <div class="actions">
    <% %w[x y w h].each do |attribute| %>
      <%= f.hidden_field "crop_#{attribute}"%>
    <% end %>
    <%= f.hidden_field :animal_id, value: @animal.id %>
    <%= f.submit "crop", class: "button small" %>
  </div>
<% end %>

<script>
$(function() {
  $('#cropbox').Jcrop({
  	onChange: update,
	onSelect: update,
  	aspectRatio: 1,
    setSelect: [0, 0, 100, 100]
  });
});

function update(c)
{
	$('#picture_crop_x').val(c.x);
	$('#picture_crop_y').val(c.y);
	$('#picture_crop_w').val(c.w);
	$('#picture_crop_h').val(c.h);
}


</script>