<table id="adoption_table"  class="fouc" >
  <thead>
	<tr>
	  <th></th>
	  <th>Animal</th>
	  <th>Transferee</th>
	  <th>Adoption Date</th>  
	  <th></th>
	</tr>
  </thead>
  <tbody>
    <% @adoptions.each do |adoption| %>
     <tr>
	  <td><%= thumbnail(adoption.animal,'50x50', 'none') %></td>
	  <td><%= adoption.animal.name %></td>
	  <td><%= adoption.transferee_name_or_email %></td>
	  <td><%= mo_da_yr(adoption.date) %></td>
	  <td><%= link_to 'recover?', '#' %></td>
     </tr>
	<% end %>
  </tbody>
</table>