<table id="animal_table" class="fouc"  >
  <thead>
	<tr>
	  <th></th>
	  <th>Name</th>
	  <th>Location</th>
	  <th>Species</th>
	  <th>Breed</th>
	  <th>Gender</th>
	  <th>Date In</th>
	  <th>Intake Reason</th>
	</tr>
  </thead>
  <tbody>
    <% @animals.each do |animal| %>
	  <tr>
	  	<td><%= image_tag(thumbnail(animal), size: '50x50') %></td>
		<td><%= link_to animal.name, edit_organization_animal_path(@organization, animal), "data-reveal-id" => "animalModal", remote: true %></td>
		<td><%= location(animal) %></td>
		<td><%= animal.species %></td>
		<td><%= animal.breed_names %></td>
		<td><%= animal.gender %></td>
		<td><%= mo_da_yr(animal.org_profile.intake_date) %></td>
		<td><%= animal.org_profile.intake_reason %></td>
	  </tr>
	<% end %>
  </tbody>
</table>