<td><%= link_to image_tag(thumbnail(animal), size: '50x50', class: 'th'), edit_organization_animal_path(@organization, animal), "data-reveal-id" => "animalModal", remote: true  %></td>
<td><%= link_to animal.name, edit_organization_animal_path(@organization, animal), "data-reveal-id" => "animalModal", remote: true %></td>
<td><%= best_in_place_if (can? :edit, animal), animal.org_profile, :organization_location_id, type: :select, collection: location_options(@organization), path: animal_org_profile_path(animal.id, animal.org_profile.id) %></td>
<td><%= animal.species %></td>
<td><%= animal.breed_names %></td>
<td><%= animal.gender %></td>
<td><%= mo_da_yr(animal.org_profile.intake_date) %></td>
<td><%= link_to button_small("flyer"), organization_animal_flyer_path(@organization, animal, format: "pdf"), target: '_blank' %></td>
