<div class="section-container auto" data-section>
 	
  <%= content_tag :section do %>
    <p class="title" data-section-title><a href="#panel1">Org Info</a></p>
	<div class="content" data-section-content>  
	  <%= render 'organization_demographic_fields' %>	
	</div>
  <% end %>

 	
  <%= content_tag :section, :class => ('disabled' if @organization.new_record?) do %>
    <p class="title" data-section-title><a href="#panel2">Locations</a></p>
	<div class="content" data-section-content>
	  <%= render 'locations' unless @organization.new_record?  %>
	</div>
  <% end %>
	  
	  
	  
  <%= content_tag :section, :class => ('disabled' if @organization.new_record?) do %>
	<p class="title" data-section-title><a href="#panel3">Personnel</a></p>
	<div class="content" data-section-content>
	  <%= render 'personnel' unless @organization.new_record?%>
	</div>
  <% end %>
  
	  
  
</div>


