<fieldset>
  <legend>Locations</legend>	
  <ul class="large-block-grid-4">
	  <li>
		<%= @organization.name %><br/>
	  </li>
    <% @organization.locations.each do |location| %>
	  <li>
		<%= link_to location.name, edit_organization_location_path(@organization, location), remote: true, "data-reveal-id" => "locationModal" %><br/>
	  </li>			
	<% end %>
		
		
  </ul>
  <%= link_to button_small("add location"), new_organization_location_path(@organization), "data-reveal-id" => "locationModal", remote: true %> 
</fieldset>

<fieldset>
  <legend>Foster homes</legend>	
  <ul class="large-block-grid-4"> 
    <% @organization.households.each do |foster| %>
	  <li>
	    <%= foster.name %><br/>
	  </li>			
    <% end %>
  </ul>
  
  <%= link_to button_small("add foster home"), new_organization_foster_path(@organization), "data-reveal-id" => "locationModal", remote: true %> 
</fieldset>
