<div class="row" >
  <div class="large-9 columns">
    <h4><%= image_tag(@animal.avatar.url, size: "50x50", class: 'picture_border_2') if @animal.avatar_stored? %> <%=@animal.name%> </h4>
  </div>
  
  <div class="large-3 columns">
    <div class="hidden flash_alert alert-box success" data-alert> 
	  Animal information saved.
	  <a href="" class="close">&times;</a>
	</div>
  </div>
</div>

<div class="section-container auto" data-section>
  <section class="active">
    <p class="title" data-section-title><a href="#panel1">Intake</a></p>
    <div class="content" data-section-content>
     
     <%= form_for [@organization, @animal], remote: true, html: {id: 'organization_animal_form', "data-abide" => ''} do |f| %>
      <div class="row">
		<div class="large-8 columns">
		  <%= f.label :name, 'name' %>
	      <%= f.text_field :name, placeholder: "animal's name" %>
		  <small class="error">Name required.</small>
		</div>
	  </div>
		
	  <div class="row">
	    <div class="large-4 columns">
	      <%= f.label :animal_type_id, "species" %>
		  <%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, {prompt:'species'}, {class: "regular_select " } %>
		</div>
		<div class="large-6 columns">
		  <%= f.label :breed_ids, "breed(s)" %>
		  <%= f.text_field :breed_ids %>
		</div>
	    <div class="large-2 columns"></div>
	  </div>
				
	  <div class="row">
		<div class="large-4 columns">
		  <%= f.label :dob, 'date of birth' %>
		  <%= f.text_field :dob, value: mo_da_yr(@animal.dob) , class: "datepicker", placeholder: "date of birth" %>
		</div>
	    <div class="large-8 columns"></div>
	  </div>
		
	  <div class="row">
	    <div class="large-3 columns">
		  <%= f.select :gender, options_for_select(["male", "female"], @animal.gender), {prompt:'gender'}, {class: "regular_select"}  %>
		</div>
	  </div>
		
	  <div class="row">
	    <div class="large-2 columns">
		  <%= f.label :neutered, id: 'dynamic_neutered_label' do %>
		    <%= f.check_box :neutered %><span id="neutered_label"> <%= neutered_term(@animal.gender) %>?</span> 
		  <% end %>
		</div>
		<div class="large-4 columns">
		  	<%= f.label :neutered_date, 'neuter / spay date' %>
		  	<%= f.text_field :neutered_date, value: mo_da_yr(@animal.neutered_date) , class: "datepicker", placeholder: "date neutered / spayed" %>
		</div>
		<div class="large-3 columns"></div>
	  </div>
		  
	  <div class="row">
		<div class="large-4 columns">
		  <%= f.label :fur_color, 'fur color' %>
		  <%= f.text_field :fur_color, placeholder: "fur color" %>
		</div>	

		<div class="large-4 columns">
		  <%= f.label :rfid, 'microchip id number' %>
		  <%= f.text_field :rfid, placeholder: "microchip id number" %>
		</div>	
		
		<div class="large-4 columns"></div>	      	      
	  </div>
		
	  <div class="row">
		<div class="large-4 columns bottom_padding_10">
		  <%= f.label :personality_type_ids, "dispostion" %>
		  <%= f.text_field :personality_type_ids %>
		</div>	
	  </div>
				    
	  <div class="row">
		<div class="large-12 columns">
		  <%= f.text_area :description, placeholder: "description of animal" %>
		</div>
	  </div>
	  <div class="actions">
		<%= f.submit "Save" %>
	  </div>
     <% end %>
    
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Health</a></p>
    <div class="content" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel3">Documents</a></p>
    <div class="content" data-section-content>
      <fieldset>
        <legend>Vaccination Records</legend>
      	
      </fieldset>
      
      <fieldset>
      	<legend>Rabies Records</legend>
      	
      </fieldset>
      
      <fieldset>
      	<legend>Veterinary Notes</legend>
      	
      </fieldset>
      
      <fieldset>
      	<legend>Misc Document</legend>
      	
      </fieldset>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel4">Photos</a></p>
    <div class="content" data-section-content>
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
	    <% for picture in @animal.pictures %>
		  <li>
	    	<%= link_to image_tag(picture.image_location, class: 'th'), edit_animal_picture_path(@animal, picture), "data-reveal-id" => "editPictureModal", 'data-no-turbolink' => true, remote: true %>
	    	</br>
	    	<%= link_to image_tag('cross.png', :alt => "del"), animal_picture_path(@animal, picture), method: :delete, confirm: 'Remove this picture?' %>
		  </li>
		  
	    <% end %>
	  </ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel5">Adoption</a></p>
    <div class="content" data-section-content>
      <%= render 'animals/animal_transfer' %>
    </div>
  </section>
</div>
