<section>
 <h4>New foster</h4>

 <%= form_tag new_foster_user_path(@organization), remote: true, method: :patch, :id => 'foster_user_form' do %>
  <fieldset>
	  <div class="row">
	    <div class="large-8 columns">
	      <%= label_tag 'foster[email]', 'email' %>
	      <%= text_field_tag 'foster[email]', nil, {placeholder: "email (required )", required: true}  %>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="large-8 columns">
	      <%= label_tag 'foster[email2]', 'email confirmation' %>
	      <%= text_field_tag 'foster[email2]', nil, {placeholder: "email confirmation (required)", required: true} %> 
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="large-6 columns">
	      <%= label_tag 'foster[first_name]', 'first name' %>
	      <%= text_field_tag 'foster[first_name]', nil, placeholder: "first name"  %>
	    </div>
	  
	    <div class="large-6 columns">
	      <%= label_tag 'foster[last_name]', 'last name' %>
	      <%= text_field_tag 'foster[last_name]', nil, placeholder: "last name"  %>
	    </div>
	  </div>
    <%= submit_tag("submit") %> 
  </fieldset>
 <% end %>
</section>
