<div class="row" >
  <div class="large-9 columns">
    <h4><%= image_tag(@animal.avatar.url, size: "50x50", class: 'picture_border_2') if @animal.avatar_stored? %> <%=@animal.name%> </h4>
  </div>
  
  <div class="large-3 columns">
    <div class="hidden flash_alert alert-box success" data-alert> 
	  Animal information saved.
	  <a href="" class="close">&times;</a>
	</div>
  </div>
</div>

<div class="section-container auto" data-section>
  <section class="active">
    <p class="title" data-section-title><a href="#panel1">Intake</a></p>
    <div class="content" data-section-content>
      <%= render 'organizations/animal_intake_form' %>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Health</a></p>
    <div class="content" data-section-content>
      <%= render 'organizations/animal_health_form' %>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel3">Documents</a></p>
    <div class="content" data-section-content>
      <div id="org_animal_document_div"><%= render 'organizations/animal_documents' %></div>
	    
	  <%= form_for([@animal, Document.new], remote: true, html: { id: "organization_document_upload", "data-abide" => '' }) do |f| %>
	    <div class="row">
		  <div class="large-6 columns">
		    <%= f.file_field :file, class: 'upload_file', required: true %>
			<small class="error">File required.</small>
		  </div>
		</div>
		<div class="row">
		  <div class="large-6 columns">
		    <%= f.select :file_type, file_types, prompt: 'select file type', required: true %>
			<small class="error">File required.</small>
		  </div>
		</div>
		<div class="row">
		  <div class="large-6 columns">
		    <%= f.hidden_field :animal_id, value: @animal.id %>
		    <div class="actions"><%= f.submit 'Upload file' %></div>
		  </div>
		</div>
      <% end %>
      
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel4">Photos</a></p>
    <div class="content" data-section-content>
      <div id="org_animal_picture_div"><%= render 'organizations/animal_pictures' %></div>
	    
	  <%= form_for([@animal, Picture.new], remote: true, html: { id: "organization_picture_upload", "data-abide" => '' }) do |f| %>
	    <div class="row">
		  <div class="large-6 columns">
		    <%= f.file_field :image, class: 'upload_picture', required: true %>
			<small class="error">File required.</small>
		  </div>
		</div>
		<div class="row">
		  <div class="large-6 columns">
		    <%= f.hidden_field :animal_id, value: @animal.id %>
		    <div class="actions"><%= f.submit 'Upload photo' %></div>
		  </div>
		</div>
      <% end %>
      
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel5">Adoption</a></p>
    <div class="content" data-section-content>
      <%= render 'animals/animal_transfer' %>
    </div>
  </section>
</div>

<div class="hidden">
	<%= form_for [@animal, AnimalVaccination.new], remote: true, html: {id: 'animal_vaccination_form', "data-abide" => '', class: 'hidden'} do |f| %>
	  <div class="row">
	    <div class="large-11 columns">
	      <%= f.text_field :vaccination_id, class: 'select'  %>
	    </div>
	  </div>
	    
	  <div class="row">
	    <div class="large-4 columns">
	      <%= f.text_field :vaccination_date, class: "datepicker", placeholder: "Select a date" %>
	      <small class="error">Vaccination date required.</small>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="large-4 columns">
	      <%= f.text_field :tag_number, placeholder: "Vaccination number (ex: rabies tag #)" %>
	    </div>
	  </div>
	  
	  <%= f.hidden_field :animal_id, value: @animal.id %>  
	  
	  <div class="actions">
	    <%= f.submit "Add vaccination" %>
	  </div>
	  
	<% end %>
</div>
