<% content_for :title, "Edit Animal Organization" %>
<%= breadcrumb_nav( [@organization, 'edit'] ) %>
<section class="border_top">
  <div class="row">
    <fieldset>
      <h4>Editing Organization</h4>
      <div class="large-12 columns"><%= render 'form' %></div>
      <%= link_to button_small('Back'), @organization %>
    </fieldset>
  </div>
</section>

<% unless @organization.new_record? %>
	<div id="newHumanModal" class="reveal-modal">
	  <h3>Add users to your organization</h3>
	  <%= form_for User.new, url: {action: "create_user"}, html: { "data-abide" => '' } do |f| %>
	    <div class="row">
	      <div class="large-12 columns">
	        <%= f.text_field :email, placeholder: "email"  %>
	        <small class="error">Email required.</small>
	      </div>
	    </div>
	    
	    <div class="row">
	      <div class="large-12 columns">
	        <%= f.text_field :first_name, placeholder: "first name"  %>
	      </div>
	    </div>
	    
	    <div class="row">
	      <div class="large-12 columns">
	        <%= f.text_field :last_name, placeholder: "last name"  %>
	      </div>
	    </div>
	    
	    <div class="row">
	      <div class="large-12 columns">
	        <%= f.text_field :phone, placeholder: "phone number"  %>
	      </div>
	    </div>
	    
	    <%= f.hidden_field :organization_id, value: @organization.id %>
	    
	    <div class="actions">
	      <%= f.submit "add member" %>
	    </div>
	  
	  <% end %>
	  
	  <a class="close-reveal-modal">&#215;</a>
	</div>
<% end %>