<% content_for :title, "Edit Animal Organization" %>

<div class="full_page">
 <section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
	  <h1 class="ptitle left"><%= @organization.name %></h1>
      <%= breadcrumb_nav([show_link(@organization, @organization.name), "Edit" ]) %>
	</div>
  </div>
 </section>
 

 <section class="white_background ">
   <div class="row">

     <div class="large-12 columns"><%= render 'form' %></div>
    
   </div>
 </section>
</div>

<%= render 'organizations/org_modals'%>
<%= render 'layouts/add_user'%>

