<% content_for :title, "Animal Organization" %>
<%= breadcrumb_nav( ['new organization'] ) %>
<section class="border_top">
  <div class="row">
   <fieldset>
    <h4>Tell us about your organization</h4>

    <%= render 'form' %>
    <%= link_to 'Launch Quick Start', '#', 'data-reveal-id'=>'stepsOverviewModal'   %>
   </fieldset>
   
  </div>
</section>

<div id="stepsOverviewModal" class="reveal-modal">	
  <div class="row">
  	<div class="large-7 large-centered columns">
	    <%= image_tag 'mww.png'%>
	</div>
	
    <h3>Here's how it works:</h3>
  </div>
  <div class="row">
	<div class="large-12 columns">
	  <ul class="small-block-grid-2 large-block-grid-4">
		<li>
	      <div class="panel callout front_page_callout">
            <p>1. Tell us about your organization.</p>
          </div>
		</li>
		<li >
	      <div class="panel callout front_page_callout"> 
            <p>2. Add admin staff.</p>
          </div>
			
		</li>
		<li>
	      <div class="panel callout front_page_callout">
            <p>3. Import animals.</p>
          </div>
		</li>
		<li>
	      <div class="panel callout front_page_callout">
            <p>4. Start using Dooliddl!</p>
          </div>
		</li>
	  </ul>
	  
	</div>
	
	<div class="row">
		<div class="large-3 columns"></div>
		<div class="large-3 columns">
			<%= link_to fun_button_tiny('get started'), '#', 'data-reveal-id'=>'stepsOverviewModal2', class: "close-reveal-modal new_account_nav"   %>
		</div>
	</div>
  </div>
   
</div>

<div id="stepsOverviewModal2" class="reveal-modal">
  <h4>Give us your organization's name & info</h4>
  <%= form_for(@organization, html: {id: "quick_organization_form", "data-abide" => '' }) do |f| %>

    <div class="row">
      <div class="large-12 columns">
        <%= f.text_field :name, placeholder: "Organization name ex. Pet Haven"  %>
        <small class="error">Organization name required.</small>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <%= f.text_field :petfinder_shelter_id, placeholder: "Pet Finder Shelter ID ex 'LA123'"  %>
      </div>
    </div>
    
    <div class="row">
      <div class="large-3 columns">
      	<%= link_to fun_button_tiny('back'), '#', 'data-reveal-id'=>'stepsOverviewModal', class: "close-reveal-modal new_account_nav"   %>
      </div>
	  <div class="large-3 columns">
		<%= link_to fun_button_tiny('next'), '#', 'data-reveal-id'=>'stepsOverviewModal3', class: "close-reveal-modal new_account_nav"   %>
	  </div>
	</div>
</div>

<div id="stepsOverviewModal3" class="reveal-modal">
	<h4>Are there another admin users that will help manage the account?</h4>
	<h6>Don't worry, you can add more later!</h6>
	<fieldset>
	    <div class="row">
	      <div class="large-6 columns">
	        <%= text_field_tag 'admin1_first_name', nil, placeholder: "first name"  %>
	      </div>
	    
	      <div class="large-6 columns">
	        <%= text_field_tag 'admin1_last_name', nil, placeholder: "last name"  %>
	      </div>
	    </div>
		<div class="row">
	      <div class="large-12 columns">
	        <%= text_field_tag 'admin1_email', nil, placeholder: "email (required to add an admin)"  %>
	      </div>
	    </div>
	</fieldset>
	<fieldset>
	    <div class="row">
	      <div class="large-6 columns">
	        <%= text_field_tag 'admin2_first_name', nil, placeholder: "first name"  %>
	      </div>
	    
	      <div class="large-6 columns">
	        <%= text_field_tag 'admin2_last_name1', nil, placeholder: "last name"  %>
	      </div>
	    </div>
		<div class="row">
	      <div class="large-12 columns">
	        <%= text_field_tag 'admin2_email1', nil, placeholder: "email (required to add an admin)"  %>
	      </div>
	    </div>
	</fieldset>
	
	<div class="row">
	  <div class="large-3 columns">
      	<%= link_to fun_button_tiny('back'), '#', 'data-reveal-id'=>'stepsOverviewModal2', class: "close-reveal-modal new_account_nav"   %>
      </div>
	  <div class="large-3 columns">
		<%= link_to fun_button_tiny('submit'), '#', onclick: "$('#quick_organization_form').submit()", class: "close-reveal-modal new_account_nav"  %>
	  </div>
	</div>
  <% end %>
</div>