<% content_for :title, "Animal Organization" %>
<%= breadcrumb_nav([@organization]) %>

<section class="border_top">
	
 <div class="row">
  <fieldset>
  <div class="row">
  	<div class="large-7 columns">
      <h4><%= @organization.name %> <small><%= link_to ' (edit)', edit_organization_path(@organization), 'data-no-turbolink' => true %></small></h4>
  	</div>
  	<div class="large-5 columns">
  	  <dl class="sub-nav">
		
		<dd><%= link_to button_small("adopted pets"), organizaiton_adoptions_path(@organization) %></dd>
		<dd>
		  <%= link_to button_small("import pets", "import_button"), "#", "data-dropdown" => "import_drop", "data-options" => "is_hover:true", remote: true %>
		  <ul id="import_drop" class="f-dropdown" data-dropdown-content>
			<li>
	  	      <%= link_to_if @organization.petfinder_shelter_id.present?,  "import from Petfinder", "#", "data-reveal-id" => "importPetFinderModal", remote: true  %>	
			</li>
			<li>
		      <%= link_to "import from spreadsheet", "#", "data-reveal-id" => "importSpreadsheetModal", remote: true  %>			  
			</li>		
		  </ul> 
		</dd>
	  </dl>
  	</div>
  </div>
 <% if @notifications.count > 0 %>
  <div class="row">
  	<div class="large-12 columns">
  	  <div id="org_news" class="fouc">
		<ul>
		  <% @notifications.each do |notification| %>
			<li><%= link_to_if notification.url.present?, org_notification(notification), notification.url %></li>
		  <% end %>
		</ul>
	 </div>
  	</div>	
  </div>
 <% end %>
    
  <div class="large-12 columns">
	<fieldset>
	  <% if @organization.animals.count == 0 %>
	    <h4>Tell us about your animals</h4>
      <% end %>
      
      <div class="row">
       <div class="large-12 columns">
       	<div id="org_animal_table_div"><%= render 'animal_table'%></div>
       </div>
      </div>
			
	    <%= link_to "Add Animal", new_organization_animal_path(@organization), "data-reveal-id" => "animalModal", remote: true %> 
	</fieldset>
   </div>
  </fieldset>
 </div>
 
</section>


<div id="animalModal" class="reveal-modal">
  <div id="org_animal_div" class="org_animal_div"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="editPictureModal" class="reveal-modal">
  <div id="picture_edit_div"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="importSpreadsheetModal" class="reveal-modal medium">
  <h4>Import Animals</h4>
  <%= form_tag import_animals_organization_path, multipart: true, remote: false do %>
    <div class="row">
	  <div class="large-6 small-12 columns ">
	    <%= file_field_tag :file, class: 'upload_file' %>	  
      </div>
	</div>
	<div class="row">
	  <div class="large-6 columns ">
	    <%= submit_tag "import" %>  
      </div>
	</div>
  <% end %>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="importPetFinderModal" class="reveal-modal medium">
  <h4 class="bottom_padding_1em">Import Animals</h4>
  <div class="row">
	<div class="large-12 columns ">
	  <%= @organization.name %>
	</div>
  </div>
  <div class="row">
	<div class="large-12 columns bottom_padding_1em">
	  PetFinder ID: <%= @organization.petfinder_shelter_id %>
	</div>
  </div>
  <div class="row">
	<div class="large-12 columns">
      <%= link_to_if @organization.petfinder_shelter_id.present?,  button_small("start import"), organizaiton_petfinder_import_path(@organization)  %>
	</div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>


