<% content_for :title, "Animal Organization" %>

<div class="full_page">
 <section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
	  <h1 class="ptitle left"><%= @organization.name %></h1>
	  <% if current_user.has_role? :admin, @organization %>
        <%= breadcrumb_nav([@organization.name, edit_link(@organization)]) %>
      <% end %>
	</div>
  </div>
 </section>

 <section class="white_background ">
	
  <div class="row">
  
   <% if @notifications.count > 0 %>
    <div class="row">
  	  <div class="large-12 columns">
  	    <div id="org_news" class="fouc">
		  <ul id="org_news_ul">
		    <% @notifications.each do |notification| %>
			  <li><%= link_to_if notification.url.present?, org_notification(notification), notification.url %></li>
		    <% end %>
		  </ul>
	   </div>
  	  </div>	
    </div>
   <% end %>
    
  <div class="large-12 columns">
	<fieldset>
	  <% if @organization.animals.count == 0 %>
	    <h4>Tell us about your animals</h4>
      <% end %>
      
      <div class="row">
       <div class="large-12 columns">
       	<div id="org_animal_table_div"><%= render 'animal_table'%></div>
       </div>
      </div>
			
	    <%= link_to button_small("Add Animal"), new_organization_animal_path(@organization), "data-reveal-id" => "animalModal", remote: true %> 
	</fieldset>
   </div>
  </div>
 </section>
</div>

<%= render 'organizations/org_modals'%>





