
<p>
  <strong>Name:</strong>
  <%= @breeder.name %>
</p>

<%= form_for(@breeder) do |f| %>


	<%= f.fields_for :animals do |builder| %>
	  <%= render 'animal_fields', f: builder %>
	<% end %>
	
	<%= link_to_add_fields "Add Animal", f, :animals %>

	<%= f.submit 'Save Changes' %>
<% end %>

<%= link_to 'Edit Profile', edit_breeder_path(@breeder) %> |

