
<p>
  <strong>Name:</strong>
  <%= @breeder.name %>
</p>

<%= form_for(@breeder) do |f| %>


	<%= f.fields_for :animals do |builder| %>
	  <fieldset>
	  <%= builder.label :name, "Name " %>
	  <%= builder.text_field :name %>
	  <%= builder.check_box :_destroy %>
	  <%= builder.label :_destroy, "Remove Animal" %>
	  </fieldset>
	<% end %>

<% end %>

<%= link_to 'Edit', edit_breeder_path(@breeder) %> |
<%= link_to 'Back', breeders_path %>
