<% content_for :title, "Animal Organization" %>

<section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
	  <h1 class="ptitle left">Locations</h1>
      <%= breadcrumb_nav([show_link(@organization, @organization.name) ]) %>
	</div>		
  </div>
 </section>

<section class="border_top">
  <div class="large-12 columns">
	<fieldset>
	  	<% if @locations.count == 0 %>
		  <h4>Tell us about your locations</h4>
		<% end %>
	    <ul class="large-block-grid-3">
	    
		<% @locations.each do |location| %>
		  <li>
			  <%= link_to location.name, edit_organization_location_path(@organization, location) %><br/>
		  </li>			
		<% end %>
		
		<% @fosters.each do |foster| %>
		  <li>
			  <%= foster.name %><br/>
		  </li>			
		<% end %>
		
	    </ul>
			
	    <%= button_to "Add Location", "#", "data-reveal-id" => "newLocationModal" %> 
	    <%= button_to "Add Foster Home", "#", "data-reveal-id" => "newLocationModal" %> 
	</fieldset>
  </div>
  
</section>

