  <footer class="row">
    <div class="large-12 columns">
      <div class="row">
      	<div class="large-9 columns"></div>
        <div class="large-3 columns">
		  <div class="hidden bottom_flash_alert alert-box success"  data-alert> 
			  Comment saved.
			  <a href="" class="close">&times;</a>
		  </div>
	    </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <!--<p>&copy; 2013 Copyright DooLiddl, LLC.</p>-->
          <%= image_tag(s3_url('dlabs.png'), size: '250x250') %>
        </div>
        
        <div class="large-6 columns">
          <ul class="inline-list right">
          	<li><%= link_to 'beta user feedback', "#", "data-reveal-id" => "betaCommentModal", remote: true %></li>
            <li><%= link_to 'contact', "#", "data-reveal-id" => "contactModal", remote: true %></li>
			<li><%= link_to image_tag(s3_url('webicon-facebook-s.png'), class: 'selectable_image'), "http://www.facebook.com/petabyt"%></li>
			<li><%= link_to image_tag(s3_url('webicon-twitter-s.png'), class: 'selectable_image'), "http://www.twitter.com/petabyt"%></li>

          </ul>
        </div>
      </div>
    </div>
  </footer>