  <footer class="row">
    <div class="large-12 columns">
     
      <div class="row">
        <div class="large-6 columns">
          <!--<p>&copy; 2013 Copyright DooLiddl, LLC.</p>-->
          <%= image_tag('dlabs.png', size: '250x250') %>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><%= link_to 'contact', "#", "data-reveal-id" => "contactModal", remote: true %></li>
            <li><%= link_to 'about', "#", "data-reveal-id" => "aboutModal", remote: true %></li>
			<li><%= link_to image_tag('webicon-facebook-s.png', class: 'selectable_image'), "http://www.facebook.com/dooliddl"%></li>
			<li><%= link_to image_tag('webicon-twitter-s.png', class: 'selectable_image'), "http://www.twitter.com/dooliddl"%></li>

          </ul>
        </div>
      </div>
    </div>
  </footer>