<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
	  <%= link_to image_tag('doolittl1.png'), root_path %>
	</li>
  </ul>
	  
  <section class="top-bar-section">
    <ul class="right">
	  <% if user_signed_in? %>
	    <li class="divider"></li>
	    <li><a href="#">Logged in as <%= current_user.email %>.</a></li>
	    <li class="divider"></li>
	    <li><%= link_to 'Edit profile', edit_user_path(current_user) %></li>
	    <li class="divider"></li>
	  	<li> <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>	
	  <% else %>
	    <li class="divider"></li>
	    <li><%= link_to "Sign up", new_user_registration_path %></li>
	    <li class="divider"></li>
	    <li><%= link_to "Login", new_user_session_path %></li>
	    <li class="divider"></li>
	  	<li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></li>
	  <% end %>
	</ul>
  </section>
</nav> 