<div class="fixed">
    
 <nav id="top_bar" class="top-bar" data-topbar data-options="is_hover:true">
  
  
  <ul class="title-area">
	
    <li class="name"><%= link_to_home %></li>
	<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section  class="top-bar-section no_bg">
  	
	<% if user_signed_in? %>
    
      <ul class="right nav_text no_bg">
	    <li class="has-dropdown notifications">
	      <%= link_to('#') do %>
	        <% if number_of_notifications %>
	         <div class="notifications">
               <div class="notifications_text"><%= number_of_notifications %></div>
	         </div>
	        <% else %>
	         <%= image_tag s3_url('white-flag-icone-6376-48.png'), size: '25x25' %>
            <% end %>
          <% end %>
	       
	      <%= raw notifications_list %>	
	      
	    </li>
	    <li class="has-dropdown"><%=link_to current_user.name, '#' %>
	      <ul class="dropdown"> 	
		    <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
		  	<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>	
	      </ul>
	    </li>
	  </ul>
	<% else %>
	  
	  <!--<ul class="right nav_text no_bg center_text">-->
	  <ul class="right utility" >
		<!--<li><%= link_to "HOME", new_user_registration_path + "#" %></li>
		<li class="divider"></li>
		<li><%= link_to "ABOUT", new_user_registration_path + "#about" %></li>
		<li class="divider"></li>--->
		<% if (defined? resource) %>
		  <!--<li><%= link_to "SIGN IN", "#", "data-reveal-id" => "registerSigninModal" %></li>-->
		  <li><%= link_to "SIGN IN", new_user_registration_path + "#login" %></li>
		<% end %>
	  </ul>
	  
	  
	  
        <!-- 
		<li> 
	  	  <%= link_to image_tag(s3_url('uporin.png'), size: '140x140', class: 'selectable_image'), "#", "data-reveal-id" => "registerSigninModal", class: "no_padding" %>
	    </li>
		
		<li><%= link_to image_tag(s3_url('orusef.png'), size: '140x140', class: 'selectable_image'), user_omniauth_authorize_path(:facebook), class: "no_padding" %></li>
        	-->      
		
	<% end %>
	<!--- 
	  <ul class="right utility">              
          <li class="">
            <a href="#" class="orange" id="signin">Login</a> or <a href="#" class="orange" id="join-free">Join for Free</a>
          </li>
          <li class="divider"></li>
          <li><a href="/business-catalyst-partners">Directory</a></li>
          <li class="divider"></li>
          <li><a href="/blog">Blog</a> </li>
          <li class="divider"></li>
          <li><a href="/business-catalyst-support">Code Ref</a> </li>
         
          <li class="divider"></li>
          <li><a href="http://helpdesk.bcgurus.com/support/tickets/new" target="_blank">Help</a> </li>
        </ul>
	--->
	
  </section>
  

 </nav>
	 

