
<nav class="top-bar" data-options="is_hover:true">
  <ul class="title-area">
    <li class="name"><%= link_to_home %></li>
      
	<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section no_bg">
  	
  	
    <ul class="right no_bg">
	  <% if user_signed_in? %>
	    <li class="has-dropdown"><%= link_to image_tag('white-flag-icone-6376-48.png', size: '25x25'), '#' %>
	      <ul class="dropdown"> 	
		    <li><%= link_to 'No alerts', '#' %></li>
		  	
	      </ul>
	    </li>
	    <li class="has-dropdown"><%=link_to image_tag('persona-person-white.png', size: '25x25'), '#' %>
	      <ul class="dropdown"> 	
		    <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
		  	<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>	
	        <li><a href="#"> <%= current_user.name_or_email %></a></li>
	      </ul>
	    </li>
	  <% else %>
              
		<li> 
	  	  <%= link_to image_tag('uporin.png', size: '180x180', class: 'selectable_image'), "#", "data-reveal-id" => "registerSigninModal", class: "no_padding" %>
	    </li>
		
		<li><%= link_to image_tag('orusef.png', size: '180x180', class: 'selectable_image'), user_omniauth_authorize_path(:facebook), class: "no_padding" %></li>
		
	  <% end %>
	</ul>
  </section>
</nav> 
