<header id="header" class="border_bottom">
 <div class="row">
  <div class="large-12 columns">
	<ul id="utility-nav" class="inline-list right">
  	  <% if user_signed_in? %>
        <li>
          <%= link_to('#', 'data-dropdown' => 'notifications_drop', 'data-options' => 'is_hover:true') do %>
	        <% if number_of_notifications %>
	         <div class="notifications">
               <%= number_of_notifications %>
	         </div>
	        <% else %>
	         <%= image_tag s3_url('white-flag-icone-6376-48.png'), size: '25x25' %>
            <% end %>
          <% end %>
		  <%= raw notifications_list %>	
	    </li>
	    
	    <li>
	      <!--<%= image_tag 'icon-user-small.png', size: '25x25' %>-->
	      <%= link_to current_user.name, '#', 'data-dropdown' => 'user_drop', 'data-options' => 'is_hover:true' %>
	      <ul id='user_drop' class='f-dropdown' data-dropdown-content> 	
		    <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
		  	<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>	
	      </ul>
	    </li>
      <% else %>  
		<!--<li><%= link_to "HOME", new_user_registration_path + "#" %></li>
		<li class="divider"></li>
		<li><%= link_to "ABOUT", new_user_registration_path + "#about" %></li>
		<li class="divider"></li>
		<% if (defined? resource) %>
		  <li><%= link_to "SIGN IN", "#", "data-reveal-id" => "registerSigninModal" %></li>
		<% end %>
		-->
		<li><%= link_to "Features", features_path + "#" %></li>
		<li class="divider"></li>
		<li><%= link_to "Contact", contact_us_path + "#" %></li>
		<li class="divider"></li>
		<li><%= link_to "About", about_us_path + "#" %></li>
		<li class="divider"></li>
		<li><%= link_to "Sign in", new_user_registration_path + "#login" unless @agency.present? %></li>
      <% end %>
    </ul>
    
      
			
	<%= link_to_home(@agency) %>
			
  </div>
		
 </div>
	
</header> 


<%= render 'layouts/regular_menu2' if user_signed_in? %>

