
<nav class="top-bar" >
  <ul class="title-area">
    <li class="name">
	  <%= link_to image_tag('doo_fav.png'), "#", size: '40x40' %>
	</li>
	<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
	  <% if user_signed_in? %>
	    
	    <li><a href="#">Logged in as <%= current_user.email %>.</a></li>
	    
	    <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
	    
	  	<li> <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>	
	  <% else %>
	    
	    <li><%= link_to "Login", new_user_session_path %></li>
	  	 
	  <% end %>
	</ul>
  </section>
</nav> 
