
<nav class="top-bar" data-options="is_hover:false">
  <ul class="title-area">
    <li class="name">
	  <%= link_to image_tag('dooliddl_outline_colorful.png', size: '150x150'), "#" %>
	</li>
	<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section no_bg">
    <ul class="right no_bg">
	  <% if user_signed_in? %>
	    
	    <li><a href="#">Logged in as <%= current_user.email %>.</a></li>
	    
	    <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
	    
	  	<li> <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>	
	  <% else %>
              
		<li> 
	  	  <%= link_to image_tag('signup1.png', size: '120x120'), "#", "data-reveal-id" => "registerSigninModal" %>
	    </li>
		
		<li><%= link_to image_tag('oruse.png', size: '120x120'), user_omniauth_authorize_path(:facebook) %></li>
		
	  <% end %>
	</ul>
  </section>
</nav> 
