<section id="nav_menu" class="navigation">
  <div class="row">
    <nav class="top-bar" data-topbar="">
      <ul class="title-area">
        <li class="name"></li>
        <li class="toggle-topbar menu-icon"><a href="http://uguru-foundation5-us.businesscatalyst.com/about/staff#">Menu</a></li>
      </ul>
            
      <section class="top-bar-section">
	    <ul class="right">
	      <li><%= link_to_home('Home')%></li>
	      
	      <% if @organization.present? %>
	        <li class="has-dropdown">
	          <%= link_to 'Reports', '#' %>
	          <ul class="dropdown">
	          	<li><%= link_to "vaccinations", "#", "data-reveal-id" => "vaccinationReportModal", class: "no_default" %></li>
	          </ul>
	        </li>
	        <li><%= link_to 'Adoptions', organizaiton_adoptions_path(@organization) %></li>
	        <li class="has-dropdown">
	          <%= link_to 'Import', '#' %>
	          <ul class="dropdown">
	          	<li>
		  	      <%= link_to_if @organization.petfinder_shelter_id.present?,  "import from Petfinder", "#", "data-reveal-id" => "importPetFinderModal", remote: true  %>	
				</li>
				<li>
			      <%= link_to_if @organization.id.present?, "import from spreadsheet", "#", "data-reveal-id" => "importSpreadsheetModal", remote: true  %>			  
				</li>	
	          </ul>
	        </li>
	      <% end %>
	      
	      <li><%= link_to 'About', about_us_path %></li>
	      <li><%= link_to 'Contact', contact_us_path %></li>
	      <!--- 
	      <li class="has-dropdown not-click"><a href="http:www.animalminder.com/features">Features</a>
	      	<ul class="dropdown">
	      	  <li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
	      	  <li><a href="#">Blog</a><ul class="dropdown"></ul></li>
	      	  <li><a href="#">FAQs</a><ul class="dropdown"></ul></li>
	      	</ul>
	      </li>
	      	--->
	    </ul>
	  </section>
	</nav>
    <!-- end nav --> 
  </div>
</section>