<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? ("AnimalMinder | " + yield(:title)) : "AnimalMinder | animal health" %></title>
	<link rel="shortcut icon" href="https://s3.amazonaws.com/animalminder/app_images/animalminder.ico" />
	<link rel="apple-touch-icon" href="https://s3.amazonaws.com/animalminder/app_images/generic_icon.png">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
    
    <link href='http://fonts.googleapis.com/css?family=Life+Savers' rel='stylesheet' type='text/css'>
  </head>

  <body>
   <div id="wrapper">
   	
    <%= render 'layouts/header2' %>
	
	<%= devise_error_messages! %>
	<% flash.each do |name, msg| %>
	  <div class="alert-box <%= name == :notice ? "success" : "alert" %>" data-alert> 
		  <%= msg %>
          <a href="" class="close">&times;</a>
	  </div>
    <% end %>

    <section id="content" class="white_background">
        <%= yield %>
    </section>
    
    <section >
      <%= render 'layouts/footer' %>
    </section>
   </div>
    
    <% if !user_signed_in? && (defined? resource) %>
	  <div id="registerSigninModal" class="reveal-modal" data-reveal>
	    <%= render 'devise/registrations/register_sign_in'%> 
	    <a class="close-reveal-modal">&#215;</a>
	  </div>
	<% end %>
	
	<div id="privacyModal" class="reveal-modal" data-reveal>
	  <h4>Privacy Policy <small><%= link_to 'full page', privacy_policy_path %></small> </h4>
      <div style="overflow:auto;width:100%;height:400px;">
	    <div id="privacy_policy_div"></div>
	  </div>
	  <a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="microchipModal" class="reveal-modal" data-reveal>
	  <%= render 'layouts/microchip_lookup'%>
	  <a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="lookupResultsModal" class="reveal-modal" data-reveal>
	  <div id="lookup_results"></div>
	  <a class="close-reveal-modal">&#215;</a>
	</div>
    
    <%= javascript_include_tag "application" %>
    
  </body>
</html>
