<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? ("Petabyt | " + yield(:title)) : "Petabyt" %></title>
	<link rel="shortcut icon" href="https://s3.amazonaws.com/petabyt/app_images/petabyt_icon.ico" />

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
	
	<%= devise_error_messages! %>
	<% flash.each do |name, msg| %>
	  <div class="alert-box <%= name == :notice ? "success" : "alert" %>" data-alert> 
		  <%= msg %>
          <a href="" class="close">&times;</a>
	  </div>
    <% end %>

    <section class="gray_background">
        <%= yield %>
    </section>
    
    <section class="border_top border_bottom">
      <%= render 'layouts/footer' %>
    </section>
    
    <%= javascript_include_tag "application" %>
    
  </body>
</html>