<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? ("Petabyt | " + yield(:title)) : "Petabyt" %></title>
	<link rel="shortcut icon" href="http://anicords.herokuapp.com/doo_fav.png" />
	<link href='http://fonts.googleapis.com/css?family=Life+Savers' rel='stylesheet' type='text/css'>
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<%= render 'layouts/header' %>
	
	<%= devise_error_messages! %>
	<% flash.each do |name, msg| %>
	  <div class="alert-box <%= name == :notice ? "success" : "alert" %>" data-alert> 
		  <%= msg %>
          <a href="" class="close">&times;</a>
	  </div>
    <% end %>

  
    <section class="gray_background">
        <%= yield %>
    </section>
    
    <section class="black_background border_top">
      <%= render 'layouts/footer' %>
    </section>
    
    <% if !user_signed_in? %>
    	
	    <div id="registerSigninModal" class="reveal-modal">
	  
		  <%= render 'devise/registrations/register_sign_in'%>
		  
		  <a class="close-reveal-modal">&#215;</a>
		</div>
	<% end %>
	
	<div id="contactModal" class="reveal-modal">
	  <%= render 'layouts/contact'%>
	  <a class="close-reveal-modal">&#215;</a>
	</div>
	<div id="aboutModal" class="reveal-modal">
	  <%= render 'layouts/about'%>
	  <a class="close-reveal-modal">&#215;</a>
	</div>
	<div id="betaCommentModal" class="reveal-modal">
	  <%= render 'layouts/beta_comment'%>
	  <a class="close-reveal-modal">&#215;</a>
	</div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
