<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1">Household info</a></li>
  <% unless @household.new_record? %>
    <li class="tab-title"><a href="#panel2">Household members & sitters</a></li>
    <li class="tab-title"><a href="#panel3">Service providers</a></li>
  <% end %> 
</ul>

<div class="tabs-content">
  
  <%= content_tag :div, id: 'panel1', class: 'content active' do %>
	<%= render 'form' %>	
  <% end %>

  <%= content_tag :div, id: 'panel2', class: (@household.new_record? ? 'content disabled' : 'content') do %>
	<div id='members_div'><%= render 'members' unless @household.new_record?  %></div>
  <% end %>
  
  <%= content_tag :div, id: 'panel3', class: (@household.new_record? ? 'content disabled' : 'content') do %>
	<div id='providers_div'><%= render 'providers' unless @household.new_record?  %></div>
  <% end %>

</div>