<% content_for :title, "Animal Household" %>

<%= form_for(@household, html: { "data-abide" => '' }) do |f| %>
  <fieldset>
    <div class="row">
      <div class="large-12 columns">
        <%= f.text_field :name, placeholder: "Household name ex. Smith House"  %>
        <small class="error">Household name required.</small>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <%= f.text_field :address1, placeholder: "Address1" %>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <%= f.text_field :address2, placeholder: "Address2" %>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        
        <%= f.text_field :city, placeholder: "City" %>
      </div>
      <div class="large-2 columns">
        <%= f.select :state, us_states, {include_blank: true, prompt: 'State'}, {class: 'state_select'} %>
      </div>
      <div class="large-4 columns">
        
        <%= f.text_field :zip, placeholder: "Zip" %>
       
      </div>
      <div class="large-2 columns"></div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <%= f.label :phone %>
        <%= f.text_field :phone, placeholder: "123-123-1234" %>
      </div>
    </div>
    
    
    <% unless @household.new_record? %>
	    <div class="row">
	      <div class="large-10 columns">
	      	<table class="margin-bottom_25em">
	          <thead>
	            <tr>
	              <th>Name</th>
	              <th>Email</th>
	              <th>Phone</th>
	              <th></th>
	            </tr>
	          </thead>
	
	          <tbody>
	            <% @household.user_associations.each do |ua| %>
	             <% if ua.user.present? %>
	              <tr>
	              	<td><%= ua.user.name %></td>
	                <td><%= ua.user.email %></td>
	                <td><%= ua.user.phone %></td>
	                <td>
	                  <% if ua.user != current_user %>
	                	<%= link_to image_tag('cross.png', alt:"del", size: '20x20'), household_user_association_path(@household, ua), method: :delete, 
				 		data: { confirm: 'Please confirm you want to remove ' + ua.user.name_or_email + ' from this account.' } %>
				 	  <% end %>
	                </td>
	              </tr>
	             <% end %>
	            <% end %>
	            
	          </tbody>
	        </table>
	        <div class="bottom_padding_1em"><%= link_to 'Add Household Member', '#', "data-reveal-id" => "newHumanModal" %> </div>
	      </div>
	    </div>
    <% end %>
    
    <div class="actions">
      <%= f.submit %>
    </div>
     
  </fieldset>
  
<% end %>


