<table>
	    <thead>
	      <tr>
	        <th>Household Members</th>
	        <th>Email</th>
	        <th>Phone</th>
	        <th>Type</th>
	        <th></th>
	      </tr>
	    </thead>
	
	    <tbody>
	      <% @household.user_associations.each do |ua| %>
	        <% if ua.user.present? %>
	          <% next if ua.user.has_role? :sitter, @household %>
	          <tr>
	            <td><%= ua.user.name %></td>
	            <td><%= ua.user.email %></td>
	            <td><%= ua.user.phone %></td>
	            <td><%= display_roles(ua.user, @household) %></td>
	            <td>
	               <% if ua.user != current_user %>
	                 <%= link_to image_tag('cross.png', alt:"del", size: '20x20'), household_user_association_path(@household, ua), method: :delete, 
				 	   data: { confirm: 'Please confirm you want to remove ' + ua.user.name_or_email + ' from this account.' } %>
				   <% end %>
	            </td>
	          </tr>
	        <% end %>
	      <% end %>     
	    </tbody>
	  </table>
      
      <%= link_to button_small('Add Member'), "#", "data-reveal-id" => "newHumanModal" %>