<section class="border_top">
  <div class="row">
    <fieldset>
      <div class="large-12 columns"><%= render 'form' %></div>
      <%= link_to 'Back', @household %>
    </fieldset>
  </div>
</section>

<% unless @household.new_record? %>
	<div id="newHumanModal" class="reveal-modal">
	  <h3>Add members to your household</h3>
	  <%= form_for User.new, url: {action: "create_user"}, html: { "data-abide" => '' } do |f| %>
	    <div class="row">
	      <div class="large-12 columns">
	        <%= f.text_field :email, placeholder: "Email"  %>
	        <small class="error">Email required.</small>
	      </div>
	    </div>
	    
	    <div class="row">
	      <div class="large-12 columns">
	        <%= f.text_field :first_name, placeholder: "First Name"  %>
	      </div>
	    </div>
	    
	    <div class="row">
	      <div class="large-12 columns">
	        <%= f.text_field :last_name, placeholder: "Last Name"  %>
	      </div>
	    </div>
	    
	    <%= f.hidden_field :household_id, value: @household.id %>
	    
	    <div class="actions">
	      <%= f.submit "Add member" %>
	    </div>
	  
	  <% end %>
	  
	  <a class="close-reveal-modal">&#215;</a>
	</div>
<% end %>