<section class="border_top">
  <div class="row">
   <fieldset>
    <h4>Tell us about your household</h4>

    <%= render 'form' %>
    <%= link_to 'Launch Quick Start', '#', 'data-reveal-id'=>'stepsOverviewModal'   %>
   </fieldset>
   
  </div>
</section>

<div id="stepsOverviewModal" class="reveal-modal">	
  <div class="row">
	<div class="large-7 large-centered columns">
	    <%= image_tag(s3_url('mww.png'), size: '450x450') %>
	</div>
  </div>
  <h3>Here's how it works:</h3>
  <div class="row">
	<div class="large-12 columns">
	  <ul class="small-block-grid-2 large-block-grid-4">
		<li>
	      <div class="panel callout front_page_callout">
            <p>1. Give your household a name.</p>
          </div>
		</li>
		<li >
	      <div class="panel callout front_page_callout"> 
            <p>2. Add your animals.</p>
          </div>
			
		</li>
		<li>
	      <div class="panel callout front_page_callout">
            <p>3. Add another human to help manage household (optional).</p>
          </div>
		</li>
		<li>
	      <div class="panel callout front_page_callout">
            <p>4. Start using Dooliddl!</p>
          </div>
		</li>
	  </ul>
	  <!--
	  <table class="no_border">
	  	<tr class="no_bg">
	      <td align="center" class="no_bg"><%= image_tag('cloud_Icon.png', size: '50x50')%></td>
	      <td>
	      	Create a household and add your animals.
	      </td>		
	  	</tr>
	  	<tr class="no_bg">
	      <td align="center"><%= image_tag('cloud_Icon.png', size: '50x50')%></td>
	      <td>
	      	Add information about your animal's health & upload documents such as 
	      	pedigree charts & vaccination reocords.
	      </td>		
	  	</tr>
	  	<tr class="no_bg">
	      <td align="center" class="no_bg"><%= image_tag('cloud_Icon.png', size: '50x50')%></td>	
	      <td>
	      	Add the service providers involved in the care of your animals.  It they are in our
	      	directory, simply look them up and we'll populate.
	      </td>	
	  	</tr>
	  	<tr class="no_bg">
	      <td align="center" class="no_bg"><%= image_tag('cloud_Icon.png', size: '50x50')%></td>		
	      <td>
	      	Let us make your role as animal custodian easier.  Schedule groomer or kennel stays.
	      	Coordinate sitters.  No more calls to your vet's office to fax records (such as vaccinations)
	      	each time you need them.
	      </td>
	  	</tr>

	  </table>
	  -->
	  
	</div>
	
	<div class="row">
		<div class="large-3 columns"></div>
		<div class="large-3 columns">
			<%= link_to image_tag('getstarted.png', size: '150x150'), '#', 'data-reveal-id'=>'stepsOverviewModal2', class: "close-reveal-modal new_account_nav"   %>
		</div>
	</div>
  </div>
   
</div>

<div id="stepsOverviewModal2" class="reveal-modal">
  <h4>Give your household a name & tell us about your animals</h4>
  <%= form_for(@household, html: {id: "quick_household_form", "data-abide" => '' }) do |f| %>

    <div class="row">
      <div class="large-12 columns">
        <%= f.text_field :name, placeholder: "Household name ex. Smith House"  %>
        <small class="error">Household name required.</small>
      </div>
    </div>
    
    <% if current_user.has_pending_transfers? %>
      <% current_user.animal_transfers.each do |transfer| %>
        <div class="row">
          <div class="large-12 columns">
            <fieldset>
              <%= transfer.display_name %>
              <%= hidden_field_tag 'animal_transfers['+transfer.id.to_s+']' , 0 %>
              <%= link_to 'remove', '#', class: 'remove_fields' %>
            </fieldset>
          </div>
        </div>
      <% end %>
    <% end %>
    
    <div class="row">
      <div class="large-12 columns">
       <%= f.fields_for :animals do |builder| %>
  	     <%= render 'animal_fields', f: builder %>
	   <% end %>
	   <%= link_to_add_fields "Add another animal", f, :animals %>
	  </div>
	</div>
    
    <div class="row">
      <div class="large-3 columns">
      	<%= link_to image_tag('back.png', size: '150x150'), '#', 'data-reveal-id'=>'stepsOverviewModal', class: "close-reveal-modal new_account_nav"   %>
      </div>
	  <div class="large-3 columns">
		<%= link_to image_tag('next.png', size: '150x150'), '#', 'data-reveal-id'=>'stepsOverviewModal3', class: "close-reveal-modal new_account_nav"   %>
	  </div>
	</div>
</div>

<div id="stepsOverviewModal3" class="reveal-modal">
	<h4>Is there another human that will help manage the household?</h4>
	<div class="row">
      <div class="large-12 columns">
        <%= text_field_tag 'human_email', nil, placeholder: "email (required to add a human)"  %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= text_field_tag 'human_first_name', nil, placeholder: "first name"  %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= text_field_tag 'human_last_name', nil, placeholder: "last name"  %>
      </div>
    </div>
	
	<div class="row">
	  <div class="large-3 columns">
      	<%= link_to image_tag('back.png', size: '150x150'), '#', 'data-reveal-id'=>'stepsOverviewModal2', class: "close-reveal-modal new_account_nav"   %>
      </div>
	  <div class="large-3 columns">
		<%= link_to image_tag('next.png', size: '150x150'), '#', onclick: "$('#quick_household_form').submit()", class: "close-reveal-modal new_account_nav"  %>
	  </div>
	</div>
  <% end %>
</div>

