<% content_for :title, "Schedule sitter" %>

<div class="full_page">
 <section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
	  <h1 class="ptitle left"><%= @household.name %></h1>
      <%= breadcrumb_nav([link_to(@household.name, household_path(@household)), 'Schedule a sitter']) %>
	</div>
  </div>
 </section>
 
 
 <section class="white_background"> 
  <div class="row add-bottom white_background">
    <div class="columns large-8">
      <% if @household.pet_sitters.present? %>
        <h5>Schedule a pet sitter</h5>
        <%= render 'sitter_requests/form'%>
      <% else %>
        <h5>No pet sitters listed</h5>
      
      <% end %>	
    </div>
    
    <div class="columns large-4">
      <div id="requests_div"><%= render 'requests_table' %></div>
      <div id="sitters_div"><%= render 'sitters_table' %></div>
      <%= link_to button_small('add sitter'), "#", "data-reveal-id" => "addUserModal" %>
      
    </div>
  </div>
 </section>
</div>

<%= render 'user_associations/user'%>

<div id="newSitterModal" class="reveal-modal" data-reveal>
	  <h3>Add a new sitter</h3>
	  <%= form_for User.new, url: {action: "create_user"}, html: { id: "add_sitter_form", "data-abide" => '', class: "user_form" }, remote: true do |f| %>
	    <div class="row">
	      <div class="large-12 columns">
	        <%= f.text_field :email, placeholder: "Email"  %>
	        <small class="error">Email required.</small>
	      </div>
	    </div>
	    
	    <div class="row">
	      <div class="large-12 columns">
	        <%= f.text_field :first_name, placeholder: "first name"  %>
	      </div>
	    </div>
	    
	    <div class="row">
	      <div class="large-12 columns">
	        <%= f.text_field :last_name, placeholder: "last name"  %>
	      </div>
	    </div>
	    
	    <div class="row">
	      <div class="large-12 columns">
	        <%= f.text_field :phone, placeholder: "phone"  %>
	      </div>
	    </div>
	    
	    <%= hidden_field_tag 'user_role', :sitter %>
	    <%= f.hidden_field :household_id, value: @household.id %>
	    
	    <div class="actions">
	      <%= f.submit "add sitter", class: "button small" %>
	    </div>
	  
	  <% end %>
	  
	  <a class="close-reveal-modal">&#215;</a>
</div>
