<% content_for :title, "Animal Household" %>
<%= breadcrumb_nav([@household]) %>
<section class="border_top full_page">
	
 <div class="row">
  <fieldset>
  	
  <h4><%= @household.name %> <small><%= link_to ' (edit)', edit_household_path(@household), 'data-no-turbolink' => true %></small></h4>
  <div class="large-5 columns">
	<fieldset>
	  	<% if @household.animals.count == 0 %>
		  <h4>Tell us about your animals</h4>
	      
		<% end %>
	    <ul class="large-block-grid-3">
	    
		<% @household.animals.each do |animal| %>
		  <li>
			  <%= link_to thumbnail(animal, '100x100', 'th', 'Household'), household_animal_path(@household, animal), "data-reveal-id" => "showAnimalModal", 'data-no-turbolink' => true, remote: true %><br/>
			  <%= link_to animal.name, household_animal_path(@household, animal), "data-reveal-id" => "showAnimalModal", 'data-no-turbolink' => true, remote: true %>		
		  </li>			
		<% end %>
		
		<% if @household.foster_animals.count > 0 %>
		  <% @household.foster_animals.each do |animal| %>
			<li>
			  <%= link_to thumbnail(animal, '100x100', "th foster", "Household"), household_animal_path(@household, animal), "data-reveal-id" => "showAnimalModal", 'data-no-turbolink' => true, remote: true %><br/>
			  <%= link_to animal.name, household_animal_path(@household, animal), "data-reveal-id" => "showAnimalModal", 'data-no-turbolink' => true, remote: true %>		
			</li>			
		  <% end %>
		<% end %>
	    </ul>
			
	    <%= button_to "Add Animal", "#", "data-reveal-id" => "newAnimalModal" %> 
	</fieldset>
  </div>
  <div class="large-7 columns">
  	<fieldset>
  	  <h5>Household notifications</h5>
  	  <% if @notifications.present? %>
  	    <div id="household_news" class="fouc">
		  <ul>
		   <% @notifications.each do |notification| %>
		    <li>
		    	<%= thumbnail(notification.animal, '50x50', 'none')%>
		    	<%= link_to_if household_notification_url(notification).present?, household_notification(notification), household_notification_url(notification) %>
		    </li>
		   <% end %>
		  </ul>
	    </div>
  	  <% else %>
  	  
	  <% end %>  
  	</fieldset>
  </div>	
  </fieldset>
 </div>

</section>
	

<div id="providerModal" class="reveal-modal">
  <h3>Lookup Service Providers</h3>
  <%= form_for @household, url: {action: 'add_service_provider'} do |f| %>
  <fieldset>
    <legend>Service Providers</legend>

    <div class="row">
      <div class="large-4 columns">
        
        <%= text_field_tag :service_provider, '', data: {autocomplete_source: service_providers_path} %>
        
      </div>
    </div>
    
    <%= hidden_field_tag :service_provider_id %>
    <div class="actions">
      <%= f.submit 'Add Provider' %>
    </div>

  </fieldset>
    
  <% end %>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="newAnimalModal" class="reveal-modal">
  <h3>New Animal</h3>
  <%= form_for [@household, Animal.new] do |f| %>
  
    <div class="row">
	  <div class="large-12 columns">
		<%= f.text_field :name, placeholder: "Animal's name" %>
      </div>
    </div>
		    
	<div class="row">
	  <div class="large-6 columns">
	    <%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, {prompt:'Species'}, {class: "regular_select"} %>
	  </div>
	</div>
	<%= f.hidden_field :owner_id, value: @household.id %>	 
	<%= f.hidden_field :owner_type, value: @household.class.name %>     
    <div class="actions">
	  <%= f.submit %>
	</div>
    
  <% end %>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="showAnimalModal" class="reveal-modal">
  <div id="animal_show_div"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="transferAnimalModal" class="reveal-modal">
  <div id="animal_transfer_div"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>
