
<div class="row">
  <div class="large-6 columns">
      	
	<fieldset>
		<legend><%= @household.name %> <small><%= link_to ' (edit)', edit_household_path(@household) %></small></legend>
	    <table>
	    	
		<% @household.animals.each do |animal| %>
		  <tr>
		  	<td>
			  <%= link_to animal_image(animal), edit_household_animal_path(@household, animal), 'data-no-turbolink' => true %><br/>
		  	</td>
           
			<td>
			  <%= link_to animal.name, edit_household_animal_path(@household, animal), 'data-no-turbolink' => true %>		
			</td>	
			
			<td> | </td>
			
			<td>
			  <%= link_to 'share', '#' %>
			</td>
			
			
		  </tr>
					
		<% end %>
	    </table>
			
	    <%= button_to "Add Animal", new_household_animal_path(@household), method: :get %> 
	</fieldset>
  </div>
  
  <div class="large-6 columns">
	<fieldset>
		<legend>Service Providers</legend>
	    <table>
	    	
		<% @household.service_providers.each do |provider| %>
		  <tr>
		  	
           
			<td>
			  <%= link_to provider.name, household_service_provider_path(@household, provider) %>		
			</td>	
			
			<td> | </td>
			
			<td>
			  <%= link_to 'communicate', '#' %>
			</td>
			
			<td> | </td>
			
			<td>
			  <%= link_to image_tag('cross.png', :alt => "del"), delete_path_help(@household.id, provider.id), method: :delete, 
				 data: { confirm: 'Please confirm you want to remove ' + provider.name + ' as a service provider.' } %>
			</td>
			
		  </tr>
					
		<% end %>
	    </table>
	  
		
			
	    
	    <form action="#" class="button_to" >
	    	<div>
	    		<input data-reveal-id="providerModal"  type="submit" value="Add Provider" id="provider_reveal_button" />
	    	</div>
	    </form>
	   
	</fieldset>
  </div>
</div>
	
<!--
<div class="section-container auto" data-section>
  <section>
    <p class="title" data-section-title><a href="#panel1">Veterinarian</a></p>
    <div class="content" data-section-content>
      <%= render 'veterinarian_info' %>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Kennel</a></p>
    <div class="content" data-section-content>
      <%= render 'kennel_info'%>
    </div>
  </section>
</div>
	-->

<div id="providerModal" class="reveal-modal">
  <h3>Lookup Service Providers</h3>
  <%= form_for @household, url: {action: 'add_service_provider'} do |f| %>
  <fieldset>
    <legend>Service Providers</legend>

    <div class="row">
      <div class="large-4 columns">
        
        <%= text_field_tag :service_provider, '', data: {autocomplete_source: service_providers_path} %>
        
      </div>
    </div>
    
    <%= hidden_field_tag :service_provider_id %>
    <div class="actions">
      <%= f.submit 'Add Provider' %>
    </div>

  </fieldset>
    
<% end %>
  
  <a class="close-reveal-modal">&#215;</a>
</div>
