<section class="border_top">
	
 <div class="row">
  <h4><%= @household.name %> <small><%= link_to ' (edit)', edit_household_path(@household) %></small></h4>
  <div class="large-7 columns">
  	<fieldset>
  	  <h4>Household updates</h4>
  	  <% @activities.each do |activity| %>
		<div class="activity">
		  <%= link_to activity.owner.name_or_email, activity.owner if activity.owner %>
		  <%= render_activity activity %>
		</div>
	  <% end %>
  	</fieldset>
  </div>	
  
  <div class="large-5 columns">
	<fieldset>
	  	<% if @household.animals.count == 0 %>
		  <h4>Step 3: Tell us about your animals</h4>
		<% end %>
	    <ul class="large-block-grid-3">
	    	
	    <% if @household.animals.count == 0 %>
	      <li>Please add your household animals.</li>
	    <% end %>
	    
		<% @household.animals.each do |animal| %>
		  <li>
			  <%= link_to animal_image(animal), household_animal_path(@household, animal), "data-reveal-id" => "showAnimalModal", 'data-no-turbolink' => true, remote: true %><br/>
			  <%= link_to animal.name, household_animal_path(@household, animal), "data-reveal-id" => "showAnimalModal", 'data-no-turbolink' => true, remote: true %>		
		  </li>
					
		<% end %>
	    </ul>
			
	    <%= button_to "Add Animal", "#", "data-reveal-id" => "newAnimalModal" %> 
	</fieldset>
  </div>
</div>
<!--
<div class="row">
  <div class="large-12 columns">
	<fieldset>
		<h4>Service Providers</h4>
	    <ul class="large-block-grid-10">
	    
	    <% if @household.service_providers.count == 0 %>
	      <li>Add your animals' service providers (veterinarian, groomer, kennel, etc.)</li>
	    <% end %>
	    	
		<% @household.service_providers.each do |provider| %>
		  <li>
		  	  <%= link_to image_tag('doo_fav.png', class: 'th'), household_service_provider_path(@household, provider) %></br>
			  <%= link_to provider.name, household_service_provider_path(@household, provider) %>		
		  </li>
					
		<% end %>
	    </ul>
   
	    <form action="#" class="button_to" >
	    	<div>
	    		<input data-reveal-id="providerModal"  type="submit" value="Add Provider" id="provider_reveal_button" />
	    	</div>
	    </form>
	   
	</fieldset>
  </div>
 </div>
-->
</section>
	
<!--
<div class="section-container auto" data-section>
  <section>
    <p class="title" data-section-title><a href="#panel1">Veterinarian</a></p>
    <div class="content" data-section-content>
      <%= render 'veterinarian_info' %>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Kennel</a></p>
    <div class="content" data-section-content>
      <%= render 'kennel_info'%>
    </div>
  </section>
</div>
	-->

<div id="providerModal" class="reveal-modal">
  <h3>Lookup Service Providers</h3>
  <%= form_for @household, url: {action: 'add_service_provider'} do |f| %>
  <fieldset>
    <legend>Service Providers</legend>

    <div class="row">
      <div class="large-4 columns">
        
        <%= text_field_tag :service_provider, '', data: {autocomplete_source: service_providers_path} %>
        
      </div>
    </div>
    
    <%= hidden_field_tag :service_provider_id %>
    <div class="actions">
      <%= f.submit 'Add Provider' %>
    </div>

  </fieldset>
    
  <% end %>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="newAnimalModal" class="reveal-modal">
  <h3>New Animal</h3>
  <%= form_for [@household, Animal.new] do |f| %>
  
    <div class="row">
	  <div class="large-12 columns">
		<%= f.text_field :name, placeholder: "Animal's name" %>
      </div>
    </div>
		    
	<div class="row">
	  <div class="large-6 columns">
	    <%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, {prompt:'Species'}, {class: "regular_select"} %>
	  </div>
	</div>
	<%= f.hidden_field :household_id, value: @household.id %>	      
    <div class="actions">
	  <%= f.submit %>
	</div>
    
  <% end %>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="showAnimalModal" class="reveal-modal">
  <div id="animal_show_div"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="transferAnimalModal" class="reveal-modal">
  <h3>Transfer ownership</h3>
  
  <a class="close-reveal-modal">&#215;</a>
</div>
