<% content_for :title, "Animal Household" %>

 <section class="gray_background ">
  <div class="row pad-btm">
    <div class="column large-12">
	  <h1 class="ptitle left"><%= @household.name %></h1>
      <%= breadcrumb_nav([@household.name, edit_link(@household) ]) %>
	</div>
  </div>
 </section>
 
 
 <section class="white_background"> 
  <div class="row add-bottom white_background">
    <div class="columns large-9 ">
      <div id='anmials_section_div'>
      	<%= render 'households/animals_listing'%>
      </div>
    </div>
    
    <div class="columns large-3">
      <aside class="pad-btm">
      	<h5>New Animal</h5>
        <%= form_for [@household, Animal.new] do |f| %>
        
		  <div class="row">
			<div class="large-12 columns">
		      <%= f.text_field :name, placeholder: "animal's name" %>
		    </div>
		  </div>
				    
	      <div class="row">
			<div class="large-12 columns">
			  <%= f.collection_select :animal_type_id, AnimalType.all, :id, :short_name, {prompt:'species'}, {class: "regular_select"} %>
		    </div>
		  </div>
		  <%= f.hidden_field :owner_id, value: @household.id %>	 
		  <%= f.hidden_field :owner_type, value: @household.class.name %>     
		  <div class="actions">
		    <%= f.submit "add", class: "button small" %>
		  </div>
		    
		<% end %>
		
		
	  	<h5>Household notifications</h5>
	  	
		  <% @notifications.each_with_index do |notification, i| %>
		     <div class="mcp-list">
			    <div class="mcp-comment hide-for-middle-up"><%= i+1 %></div>
			    <div class="mcp-title">
			    <h6><%= link_to_if household_notification_url(notification).present?, household_notification(notification), household_notification_url(notification) %></h6>
			    <span class="post-date"><%= notification.updated_at.to_date %></span>
			    </div>
			  </div>
			  
		  <% end %>  
 
		

      </aside>
    </div>
  </div>
 </section>



	

<div id="providerModal" class="reveal-modal" data-reveal>
  <h3>Lookup Service Providers</h3>
  <%= form_for @household, url: {action: 'add_service_provider'} do |f| %>
  <fieldset>
    <legend>Service Providers</legend>

    <div class="row">
      <div class="large-4 columns">
        
        <%= text_field_tag :service_provider, '', data: {autocomplete_source: service_providers_path} %>
        
      </div>
    </div>
    
    <%= hidden_field_tag :service_provider_id %>
    <div class="actions">
      <%= f.submit 'add Provider', class: "button small" %>
    </div>

  </fieldset>
    
  <% end %>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="newAnimalModal" class="reveal-modal" data-reveal>
  <h3>New Animal</h3>
  <%= form_for [@household, Animal.new] do |f| %>
  
    <div class="row">
	  <div class="large-12 columns">
		<%= f.text_field :name, placeholder: "Animal's name" %>
      </div>
    </div>
		    
	<div class="row">
	  <div class="large-6 columns">
	    <%= f.collection_select :animal_type_id, AnimalType.all, :id, :name, {prompt:'Species'}, {class: "regular_select"} %>
	  </div>
	</div>
	<%= f.hidden_field :owner_id, value: @household.id %>	 
	<%= f.hidden_field :owner_type, value: @household.class.name %>     
    <div class="actions">
	  <%= f.submit "submit", class: "button small" %>
	</div>
    
  <% end %>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="showAnimalModal" class="reveal-modal" data-reveal>
  <div id="animal_show_div"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="transferAnimalModal" class="reveal-modal" data-reveal>
  <div id="animal_transfer_div"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>
